[buildout]
develop = .
parts = zope2 fakezope2eggs productdistros z2instance selenium-zope2 test


[test]
recipe = zc.recipe.testrunner
eggs = zc.selenium
extra-paths = ${zope2:location}/lib/python
defaults = '--tests-pattern [fn]?tests'.split()
working-directory = ${buildout:directory}

[zope2]
recipe = plone.recipe.zope2install
url = http://www.zope.org/Products/Zope/2.9.9/Zope-2.9.9-final.tgz

[fakezope2eggs]
recipe = affinitic.recipe.fakezope2eggs
additional-fake-eggs =
    ZODB3
    mechanize
    ClientForm

[productdistros]
recipe = plone.recipe.distros
urls =
    http://codespeak.net/z3/five/release/Five-1.4.4.tgz
version-suffix-packages =

[z2instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 39858
debug-mode = on
verbose-security = on
demo-storage = on
eggs = zc.selenium
# XXX: copied from Five, since plone.recipe.zope2instance can't deal with files
# called 'tests.zcml', only configure, meta and overrides. :-(
site-zcml =
  <configure xmlns="http://namespaces.zope.org/zope"
	       xmlns:meta="http://namespaces.zope.org/meta"
           xmlns:five="http://namespaces.zope.org/five">

  <include package="Products.Five" />
  <meta:redefinePermission from="zope2.Public" to="zope.Public" />
  <include files="package-includes/*-meta.zcml" />
  <five:loadProducts file="meta.zcml"/>
  <include files="package-includes/*-configure.zcml" />
  <include package="zc.selenium" />
  <include package="zc.selenium" file="tests.zcml" />
  <five:loadProducts />
  <includeOverrides files="package-includes/*-overrides.zcml" />
  <five:loadProductsOverrides />
  </configure>
products = ${productdistros:location}

[selenium-zope2]
recipe = zc.recipe.egg:scripts
eggs = ${z2instance:eggs}
extra-paths = ${zope2:location}/lib/python
            ${zope2:location}/lib/python/AccessControl
scripts = selenium-zope2
entry-points = selenium-zope2=zc.selenium.selenium:main
initialization =
    sys.argv[1:1] = ['${z2instance:location}/etc/zope.conf', '-r', '-z', 'zope2']
