[buildout]
develop = .
index = http://download.zope.org/zope3.4
parts = test generate-buildout generate-versions

[test]
recipe = zc.recipe.testrunner
eggs = zope.kgs [test]

[generate-buildout]
recipe = zc.recipe.egg:scripts
eggs = zope.kgs
scripts = generate-buildout
arguments = ('controlled-packages.cfg',
             './test/buildout.cfg')

[generate-versions]
recipe = zc.recipe.egg:scripts
eggs = zope.kgs
scripts = generate-versions
arguments = ('controlled-packages.cfg',
             './test/versions.cfg')
