[buildout]
develop = .
parts = test interpreter

[test]
recipe = zc.recipe.testrunner
defaults = ['-1']
eggs = zc.extrinsicreference

[interpreter]
recipe = zc.recipe.egg
eggs = zc.extrinsicreference
interpreter = py
