[buildout]
parts =
    zeoserver
    instance
    client1
    zopepy

extends = http://dist.plone.org/release/4.0-latest/versions.cfg
find-links = http://dist.plone.org/thirdparty/
#http://dist.repoze.org/

[zeoserver]
recipe = plone.recipe.zeoserver
zeo-address = 8100
blob-storage = ${buildout:directory}/var/blobstorage
zeo-conf-additional =
    <filestorage zopeorg>
        path ${buildout:directory}/var/filestorage/zopeorg.fs
        blob-dir ${buildout:directory}/var/blobstorage-zopeorg
    </filestorage>


[instance]
recipe = plone.recipe.zope2instance
http-address = 11080
blob-storage =  ${buildout:directory}/var/blobstorage-zopeorg
shared-blob = on
zeo-client = True
zeo-address = ${zeoserver:zeo-address}
environment-vars = zope_i18n_compile_mo_files = true
eggs =
    Plone
    PIL
    plonetheme.zopeorg
zcml = plonetheme.zopeorg
zope-conf-additional =
    <zodb_db zopeorg>
        mount-point /zopeorg
        <zeoclient>
            server ${instance:zeo-address}
            storage zopeorg
            name zopeorg_zeostorage
            blob-dir ${buildout:directory}/var/blobstorage-zopeorg
            shared-blob-dir on
        </zeoclient>
    </zodb_db>

[client1]
recipe = plone.recipe.zope2instance
http-address = 11081
blob-storage = ${instance:blob-storage}
shared-blob = on
zeo-client = True
zeo-address = ${zeoserver:zeo-address}
environment-vars = ${instance:environment-vars}
eggs = ${instance:eggs}
zope-conf-additional = ${instance:zope-conf-additional}

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths =
scripts = zopepy

#[versions]
#PIL=1.1.7
