[buildout]
extends = buildout.cfg
parts += test

versions = versions
develop =

extensions = mr.developer
always-checkout = true
auto-checkout = *

[sources]
plonetheme.zopeorg = git git://github.com/d2m/plonetheme.zopeorg.git
#plonetheme.zopeorg = git git@github.com:d2m/plonetheme.zopeorg.git
collective.teaser = git git://github.com/collective/collective.teaser.git
#collective.teaser = git git@github.com:collective/collective.teaser.git
Products.Collage = svn https://svn.plone.org/svn/collective/Products.Collage/trunk
collective.collage.portlets = svn https://svn.plone.org/svn/collective/Products.Collage/addons/collective.collage.portlets/trunk
collective.setuphandlertools = git git://github.com/collective/collective.setuphandlertools.git
#collective.setuphandlertools = git git@github.com:collective/collective.setuphandlertools.git

[versions]

[instance]
user = admin:admin
debug-mode = on
verbose-security = off
deprecation-warnings = on
eggs += plone.reload

[client1]
user = admin:admin
debug-mode = on
verbose-security = off
deprecation-warnings = on

[test]
recipe = zc.recipe.testrunner
eggs =
    Products.Collage
    PIL # missing dependency from Products.PlonePAS
defaults = ['--exit-with-status', '--auto-color', '--auto-progress']
