[test]
working-directory = parts/instance
eggs = megrok.quarry
	grok
recipe = zc.recipe.testrunner
extra-paths = /root/zope3/src
defaults = ['--tests-pattern', '^f?tests$',
	'-v'
	]

[data]
recipe = zc.recipe.filestorage

[zope3]
location = /root/zope3

[buildout]
parts = data instance test
develop = .
          ../grok

[instance]
database = data
eggs = setuptools
	grok
	megrok.quarry
recipe = zc.recipe.zope3instance
user = ksmith:123
zcml = zope.annotation
	zope.copypastemove
	zope.formlib
	zope.i18n-meta
	zope.i18n.locales
	zope.publisher
	zope.security-meta
	zope.size
	zope.traversing
	zope.traversing.browser
	zope.app
	zope.app-meta
	zope.app.securitypolicy
	zope.app.securitypolicy-meta
	zope.app.authentication
	zope.app.catalog
	zope.app.intid
	zope.app.keyreference
	zope.app.twisted
	megrok.quarry-meta
	grok
	grok-meta

