[buildout]
develop = .
parts = ticketcollectorapp instance
extends = http://download.zope.org/zope3.4/3.4.0/versions.cfg
versions = versions

[zope3]
location =

[ticketcollectorapp]
recipe = zc.zope3recipes:app
site.zcml = <include package="ticketcollector" file="application.zcml" />
eggs = ticketcollector

[instance]
recipe = zc.zope3recipes:instance
application = ticketcollectorapp
zope.conf = ${database:zconfig}

[database]
recipe = zc.recipe.filestorage
