[buildout]
extends = base.cfg
parts += omelette

[instance]
debug-mode = on
eggs += plone.reload
zcml += plone.reload

# symlinks all Python source code to parts/omelette folder when buildout is run
# windows users will need to install additional software for this part to build 
# correctly.  See http://pypi.python.org/pypi/collective.recipe.omelette for
# relevant details.
[omelette]
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}

[sources]
plonetheme.zopeorg = git git@github.com:d2m/plonetheme.zopeorg.git
collective.teaser = git git@github.com:collective/collective.teaser.git
Products.Collage = svn https://svn.plone.org/svn/collective/Products.Collage/trunk
collective.collage.portlets = svn https://svn.plone.org/svn/collective/Products.Collage/addons/collective.collage.portlets/trunk
collective.setuphandlertools = git git@github.com:collective/collective.setuphandlertools.git
