[buildout]
develop = .
          zope.kgs
index = http://download.zope.org/zope3.4
parts = test upload update-tree
        generate-buildout generate-versions generate-site
        list-latest list-changes

[test]
recipe = zc.recipe.testrunner
eggs = zope.release [test]

[generate-buildout]
recipe = zc.recipe.egg:scripts
eggs = zope.kgs
scripts = generate-buildout
arguments = ('controlled-packages.cfg',
             './test/buildout.cfg')

[generate-versions]
recipe = zc.recipe.egg:scripts
eggs = zope.kgs
scripts = generate-versions
arguments = ('controlled-packages.cfg',
             './test/versions.cfg')

[generate-site]
recipe = zc.recipe.egg:scripts
eggs = zope.kgs
scripts = generate-site

[upload]
recipe = zc.recipe.egg:scripts
eggs = zope.release
scripts = upload
arguments = ('./controlled-packages.cfg',
             'download.zope.org:/var/www/download.zope.org/zope3.4',)

[update-tree]
recipe = zc.recipe.egg:scripts
eggs = zope.release
scripts = update-tree
arguments = ('./controlled-packages.cfg',
             './Zope3-3.4',)

[list-latest]
recipe = zc.recipe.egg:scripts
eggs = zope.kgs
scripts = list-latest
arguments = ['-m',
             'controlled-packages.cfg'] + sys.argv[1:]

[list-changes]
recipe = zc.recipe.egg:scripts
eggs = zope.kgs
scripts = list-changes
arguments = ['controlled-packages.cfg'] + sys.argv[1:]
