[buildout]
develop = .
index = http://download.zope.org/zope3.4
parts = test generate-buildout generate-versions upload update-tree

[test]
recipe = zc.recipe.testrunner
eggs = zope.release [test]

[generate-buildout]
recipe = zc.recipe.egg:scripts
eggs = zope.release
scripts = generate-buildout
arguments = ('controlled-packages.cfg',
             './test/buildout.cfg')

[generate-versions]
recipe = zc.recipe.egg:scripts
eggs = zope.release
scripts = generate-versions
arguments = ('controlled-packages.cfg',
             './test/versions.cfg')

[upload]
recipe = zc.recipe.egg:scripts
eggs = zope.release
scripts = upload
arguments = ('./test/buildout.cfg',
             './test/versions.cfg',
             # Activate this line in the tag.
             #'./test/versions.cfg = versions-3.4.0.cfg',
             './controlled-packages.cfg',
             'download.zope.org:/var/www/download.zope.org/zope3.4',)

[update-tree]
recipe = zc.recipe.egg:scripts
eggs = zope.release
scripts = update-tree
arguments = ('./controlled-packages.cfg',
             './Zope3-3.4',)
