[DEFAULT]
tested=true

[KGS]
name = zope
version = 3.4.0c7

[ClientForm]
tested=false
versions = 0.2.9

#[PIL]
#tested=false
#versions = 1.1.6

[RestrictedPython]
versions = 3.4.2

[ZConfig]
versions = 2.5
           2.5.1

[ZODB3]
versions = 3.8.0b4
           3.8.0c1
           3.8.0
           3.8.1

[docutils]
tested=false
versions = 0.4

[jquery.javascript]
versions = 1.0.0

[jquery.layer]
versions = 1.0.0

[lxml]
versions = 1.3.4
           1.3.6

[mechanize]
tested=false
versions = 0.1.7b

[pytz]
tested=false
versions = 2007g
           2007k

[setuptools]
tested=false
versions = 0.6c7
           0.6c8
           0.6c9

[z3c.coverage]
versions = 1.0.1
           1.1.1
           1.1.2

[z3c.csvvocabulary]
versions = 1.0.0

[z3c.etestbrowser]
versions = 1.0.3
           1.0.4

[z3c.form]
versions = 1.7.0
           1.8.0
           1.8.1
           1.8.2
           1.9.0

[z3c.formdemo]
versions = 1.5.0
           1.5.1
           1.5.2
           1.5.3

[z3c.formjs]
versions = 0.3.0
           0.4.0

[z3c.formjsdemo]
versions = 0.3.0
           0.3.1

[z3c.formui]
versions = 1.3.0
           1.4.1
           1.4.2

[z3c.i18n]
versions = 0.1.1

[z3c.layer]
versions = 0.2.2
           0.2.3

[z3c.macro]
versions = 1.1.0

[z3c.macroviewlet]
versions = 1.0.0

[z3c.menu]
versions = 0.2.0

[z3c.optionstorage]
versions = 1.0.4

[z3c.pagelet]
versions = 1.0.0
           1.0.2

[z3c.rml]
# Disable z3c.rml tests since it has dependencies on PIL and reportlab, and
# those currently aren't available as working eggs from PyPI.
tested = false
versions = 0.7.3

[z3c.skin.pagelet]
versions = 1.0.0
           1.0.1
           1.0.2

[z3c.template]
versions = 1.1.0

[z3c.testing]
versions = 0.2.0

[z3c.traverser]
versions = 0.2.0
           0.2.1
           0.2.2
           0.2.3

[z3c.viewtemplate]
versions = 0.3.0
           0.3.1
           0.3.2

[z3c.viewlet]
versions = 1.0.0

[z3c.zrtresource]
versions = 1.0.0
           1.0.1

[zc.buildout]
# The zc buildout package need a special environment to be tested.
tested = false
versions = 1.0.0b31
           1.0.0
           1.1.0
           1.1.1

[zc.catalog]
versions = 1.2.0

[zc.datetimewidget]
versions = 0.5.2

[zc.i18n]
versions = 0.5.2

[zc.recipe.egg]
# The zc recipes need a special environment to be tested.
tested = false
versions = 1.0.0

[zc.recipe.filestorage]
versions = 1.0.0

[zc.recipe.testrunner]
versions = 1.0.0

[zc.resourcelibrary]
versions = 0.6
           0.6.1
           0.8.2
           1.0.1

[zc.table]
versions = 0.6

[zc.zope3recipes]
versions = 0.6.0
           0.6.1
           0.6.2

[zdaemon]
versions = 2.0.1
           2.0.2

[zodbcode]
versions = 3.4.0

[zope.annotation]
versions = 3.4.0
           3.4.1

[zope.app.annotation]
# Package is deprectated. It is only here for BBB.
versions = 3.4.0

[zope.app.apidoc]
versions = 3.4.0
           3.4.1
           3.4.2
           3.4.3

[zope.app.applicationcontrol]
versions = 3.4.1
           3.4.3

[zope.app.appsetup]
versions = 3.4.1

[zope.app.authentication]
versions = 3.4.3
           3.4.4

[zope.app.basicskin]
versions = 3.4.0

[zope.app.boston]
versions = 3.4.0

[zope.app.broken]
versions = 3.4.0

[zope.app.cache]
versions = 3.4.0
           3.4.1

[zope.app.catalog]
versions = 3.5.0
           3.5.1

[zope.app.component]
versions = 3.4.0
           3.4.1

[zope.app.container]
versions = 3.5.6

[zope.app.content]
versions = 3.4.0

[zope.app.dav]
versions = 3.4.0
           3.4.1

[zope.app.debug]
versions = 3.4.0
           3.4.1

[zope.app.debugskin]
versions = 3.4.0

[zope.app.dependable]
versions = 3.4.0

[zope.app.dtmlpage]
versions = 3.4.0
           3.4.1

[zope.app.error]
versions = 3.5.1

[zope.app.exception]
versions = 3.4.0
           3.4.1

[zope.app.externaleditor]
versions = 3.4.0

[zope.app.file]
versions = 3.4.0
           3.4.1
           3.4.2
           3.4.3
           3.4.4

[zope.app.folder]
versions = 3.4.0

[zope.app.form]
versions = 3.4.0
           3.4.1
#          3.4.2 <- fails tests

[zope.app.ftp]
versions = 3.4.0

[zope.app.generations]
versions = 3.4.0
           3.4.1

[zope.app.homefolder]
versions = 3.4.0

[zope.app.http]
versions = 3.4.0
           3.4.1

[zope.app.i18n]
versions = 3.4.3
           3.4.4

[zope.app.i18nfile]
versions = 3.4.0
           3.4.1

[zope.app.interface]
versions = 3.4.0

[zope.app.interpreter]
versions = 3.4.0

[zope.app.intid]
versions = 3.4.0
           3.4.1

[zope.app.keyreference]
versions = 3.4.1

[zope.app.layers]
versions = 3.4.0

[zope.app.locales]
versions = 3.4.1
           3.4.2
           3.4.3
           3.4.4
           3.4.5

[zope.app.locking]
versions = 3.4.0

[zope.app.module]
versions = 3.4.0

[zope.app.onlinehelp]
versions = 3.4.0
           3.4.1

[zope.app.pagetemplate]
versions = 3.4.0
           3.4.1

[zope.app.pluggableauth]
versions = 3.4.0

[zope.app.preference]
versions = 3.4.0
           3.4.1

[zope.app.preview]
versions = 3.4.0

[zope.app.principalannotation]
versions = 3.4.0

[zope.app.publication]
versions = 3.4.2
           3.4.3

[zope.app.publisher]
versions = 3.4.0
           3.4.1

[zope.app.pythonpage]
versions = 3.4.0
           3.4.1

[zope.app.renderer]
versions = 3.4.0

[zope.app.rotterdam]
versions = 3.4.0
           3.4.1

[zope.app.schema]
versions = 3.4.0

[zope.app.security]
versions = 3.4.0
           3.5.0
           3.5.1
           3.5.2

[zope.app.securitypolicy]
versions = 3.4.4
           3.4.5
           3.4.6

[zope.app.server]
versions = 3.4.0
           3.4.1
           3.4.2

[zope.app.session]
versions = 3.4.2
           3.4.3
           3.5.0
           3.5.1

[zope.app.skins]
versions = 3.4.0

[zope.app.sqlscript]
versions = 3.4.0
           3.4.1

[zope.app.testing]
versions = 3.4.0
           3.4.1
           3.4.2
           3.4.3
#          3.4.4 <-- breaks zope.app.generations tests

[zope.app.traversing]
versions = 3.4.0

[zope.app.tree]
versions = 3.4.0

[zope.app.twisted]
versions = 3.4.0
           3.4.1

[zope.app.undo]
versions = 3.4.0

[zope.app.wfmc]
versions = 0.1.2

[zope.app.workflow]
versions = 3.4.1

[zope.app.wsgi]
versions = 3.4.0
           3.4.1

[zope.app.xmlrpcintrospection]
versions = 3.4.0

[zope.app.zapi]
versions = 3.4.0

[zope.app.zcmlfiles]
versions = 3.4.3

[zope.app.zopeappgenerations]
versions = 3.4.0

[zope.app.zptpage]
versions = 3.4.0
           3.4.1

[zope.cachedescriptors]
versions = 3.4.0
           3.4.1

[zope.component]
versions = 3.4.0

[zope.configuration]
versions = 3.4.0

[zope.contentprovider]
versions = 3.4.0

[zope.contenttype]
versions = 3.4.0

[zope.copypastemove]
versions = 3.4.0

[zope.datetime]
versions = 3.4.0

[zope.decorator]
versions = 3.4.0

[zope.deferredimport]
versions = 3.4.0

[zope.deprecation]
versions = 3.4.0

[zope.documenttemplate]
versions = 3.4.0

[zope.dottedname]
versions = 3.4.2

[zope.dublincore]
versions = 3.4.0

[zope.error]
versions = 3.5.1

[zope.event]
versions = 3.4.0

[zope.exceptions]
versions = 3.4.0

[zope.file]
versions = 0.3.0

[zope.filerepresentation]
versions = 3.4.0

[zope.formlib]
versions = 3.4.0

[zope.html]
versions = 1.0.1

[zope.hookable]
versions = 3.4.0

[zope.i18n]
versions = 3.4.0

[zope.i18nmessageid]
versions = 3.4.3

[zope.index]
versions = 3.4.1

[zope.interface]
versions = 3.4.0
           3.4.1

[zope.lifecycleevent]
versions = 3.4.0

[zope.location]
versions = 3.4.0

[zope.mimetype]
versions = 0.3.0

[zope.minmax]
versions = 1.0
           1.1.0

[zope.modulealias]
versions = 3.4.0

[zope.pagetemplate]
versions = 3.4.0

[zope.proxy]
versions = 3.4.0
           3.4.2

[zope.publisher]
versions = 3.4.1
           3.4.2
           3.4.3
           3.4.5
           3.4.6

[zope.rdb]
versions = 3.4.0

[zope.schema]
versions = 3.4.0

[zope.security]
versions = 3.4.0
           3.4.1

[zope.securitypolicy]
versions = 3.4.0
           3.4.1

[zope.sendmail]
versions = 3.4.0

[zope.sequencesort]
versions = 3.4.0

[zope.server]
versions = 3.4.1
           3.4.2
           3.4.3

[zope.session]
versions = 3.4.1

[zope.size]
versions = 3.4.0

[zope.structuredtext]
versions = 3.4.0

[zope.tal]
versions = 3.4.0
           3.4.1

[zope.tales]
versions = 3.4.0

[zope.testbrowser]
versions = 3.4.1
           3.4.2

[zope.testing]
versions = 3.5.1
           3.5.4
           3.5.5
           3.5.6

[zope.testrecorder]
versions = 0.2
           0.3.0

[zope.thread]
versions = 3.4

[zope.traversing]
versions = 3.4.0
           3.4.1

[zope.ucol]
# To install and test this package, you need to install the ICU libraries,
# which not everyone wants to do.
tested = false
versions = 1.0.2

[zope.viewlet]
versions = 3.4.0
           3.4.1
           3.4.2

[zope.wfmc]
versions = 3.4.0

[zope.xmlpickle]
versions = 3.4.0
