[buildout]
develop = . ../../../lovely.relation
parts = test importchecker instance
find-links = https://download.zope.org/distribution
             https://download.lovelysystems.com/eggs/lovely
extensions = lovely.buildouthttp

[test]
recipe = zc.recipe.testrunner
eggs = z3c.reference [test]

[importchecker]
recipe = lovely.recipe:importchecker

[zope3]
location =

[app]
recipe = zc.zope3recipes:app
servers = zserver
site.zcml =
        <include package="z3c.reference.demo.browser" file="ftesting.zcml"/>
eggs = z3c.reference [test]

[instance]
recipe = zc.zope3recipes:instance
application = app
zope.conf =  ${database:zconfig}

[database]
recipe = zc.recipe.filestorage
