[buildout]
develop = .
eggs-directory = eggs
parts = test interpreter
extends = versions.cfg
versions = versions

[interpreter]
recipe = zc.recipe.egg
eggs = megrok.storm
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = megrok.storm
defaults = ['--tests-pattern', '^f?tests$', '-v']
