# Pick up the ZCML slugs:

<load>

rdb-configure.zcml svn://svn.zope.org/repos/main/Zope3/tags/*/package-includes/rdb-configure.zcml

rdb-meta.zcml      svn://svn.zope.org/repos/main/Zope3/tags/*/package-includes/rdb-meta.zcml

</load>
