# This is used by the Zope 3 packaging tool to support construction of
# the zope.app portion of the Zope 3 distribution.  This file is used
# to specify which files and directories should be included in the
# distribution of the zope.app package itself; many of the child
# packages will be separate components that can be added by larger
# distributions.
#
# This file does *not* define any Zope 3 distribution, only the
# zope.app package itself.
#
# (Most packages won't need such elaborate packaging metadata; zope
# and zope.app are truly special cases.)

<collection>

README.txt

# These things are absolutely essential to making Zope 3 run.

# Configuration:

browser.zcml
configure.zcml
menus.zcml
meta.zcml

# Code:

# zope.app.adapter is needed by zope.app.utility, which is part of zope.app
adapter
annotation
applicationcontrol
appsetup
authentication
basicskin
broken
# bundle
# cache
component
container
content
# We should convert content_types.py to a package and include it via
# the dependency mechanism.
content_types.py
copypastemove
# Maybe convert to a package as well.
datetimeutils.py
debug
# move to zope.app.location
decorator.py
dependable
dublincore
error
event
exception
filerepresentation
folder
form
ftests
generations
# maybe can combine with zope.app.publisher.http
http
i18n
__init__.py
# maybe we can refactor this away
interface
intid
# XXX used by zope.app.utility.browser
introspector
keyreference
location
module
observable
pagetemplate
pluggableauth
preview
principalannotation
publication
publisher
registration
rotterdam
schema
security
servicenames.py
session
site
size
tests
testing
# This should go into the (new) datetimeutils package
timezones.py
locales
traversing
utility
zapi
zopeappgenerations

</collection>
