[buildout]
develop = .
parts = test devpython
versions = versions

[versions]
grokcore.component = 1.2.1
martian = 0.9.5
py = 0.9.1
setuptools = 0.6c8
zc.recipe.egg = 1.0.0
zc.recipe.testrunner = 1.0.0
zope.component = 3.4.0
zope.configuration = 3.4.0
zope.deferredimport = 3.4.0
zope.deprecation = 3.4.0
zope.event = 3.4.0
zope.i18nmessageid = 3.4.3
zope.interface = 3.4.1
zope.proxy = 3.4.0
zope.schema = 3.4.0
zope.testing = 3.5.1
# XXX should set the dependencies for zope.app.container as well eventually

[test]
recipe = zc.recipe.testrunner
eggs = z3c.vcsync

# installs bin/devpython to do simple interpreter tests
[devpython]
recipe = zc.recipe.egg
interpreter = devpython
eggs = z3c.vcsync

