[buildout]
develop = .
parts = interpreter test
extends = versions.cfg
versions = versions

[interpreter]
recipe = zc.recipe.egg
eggs = megrok.z3cpt
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = megrok.z3cpt [test]
defaults = ['--tests-pattern', '^f?tests$', '-v']
