[buildout]
develop = .
parts = test releasemaker

# This one gives test failures even when "python setup.py test" works
# fine.  Somehow zc.recipe.egg cannot be found.
[test]
recipe = zc.recipe.testrunner
eggs = z3c.recipe.eggbasket

# This is really a test for the script.
[releasemaker]
recipe = zc.recipe.egg
eggs = z3c.recipe.eggbasket
arguments =
    egg = 'grok',
    versionfile = 'http://grok.zope.org/releaseinfo/grok-0.12.cfg'
