include MANIFEST
include Makefile
include test.py
include log.ini
recursive-include lib/python *.h *.c 
recursive-include lib/python *.txt
recursive-include lib/python *.conf *.zcml 
recursive-include lib/python *.css *.gif *.html *.js *.png *.pt *.xml
recursive-include lib/python *.mo *.po

include lib/python/Zope/App/RDB/GadflyDA/gadfly/COPYRIGHT
include lib/python/Zope/App/RDB/GadflyDA/gadfly/*.mar

graft doc