[buildout]
parts =
    ctl
    instance
    zodb-scripts
    application
    zeo_server_main
    test

develop = .

find-links =
    http://download.zope.org/distribution

extensions = zc.buildoutsftp

[test]
recipe = zc.recipe.testrunner
eggs = zope3-from-eggs
defaults = '--exit-with-status -1 --auto-color'.split()

[zope3]
location =

[application]
recipe = zc.zope3recipes:app
eggs = zope3-from-eggs
servers = zserver
site.zcml =
  <include package="zope.app.zcmlfiles" />
  <include package="zope.app.securitypolicy" />
  <include package="zope.app.securitypolicy" file="meta.zcml"/>
  <include package="zope.app.securitypolicy" file="securitypolicy.zcml"/>
  <include package="zope.app.authentication" />
  <include package="zope.app.server" />
  <unauthenticatedPrincipal
      id="${application.unauthenticated:id}"
      title="${application.unauthenticated:title}"
      />
  <principal
      id="${application.manager:id}"
      title="${application.manager:title}"
      login="${application.manager:login}"
      password="${application.manager:password}"
      />
  <grant
      role="zope.Manager"
      principal="zope.manager"
      />

[application.unauthenticated]
id=zope.anybody
title=Unauthenticated User

[application.manager]
id=zope.manager
title=Manager
login=admin
password=admin

[ports]
zeo = 9000

[instance-config]
application = application
zope.conf =
    <zodb>
      <zeoclient>
        server ${ports:zeo}
      </zeoclient>
    </zodb>

[instance]
recipe = zc.zope3recipes:instance
extends = instance-config
address = 8080 8081 8082 8083 8084

[ctl]
recipe = zc.recipe.rhrc
parts = zeo_server_main instance
dest = ${buildout:bin-directory}

[zeo_server_main_database]
recipe = zc.recipe.filestorage

[zeo_server_main]
recipe = zc.zodbrecipes:server
zeo.conf =
    <zeo>
      address ${ports:zeo}
    </zeo>
    <filestorage 1>
      path ${zeo_server_main_database:path}
    </filestorage>

[zodb-scripts]
recipe = zc.recipe.egg:script
eggs = ZODB3
