[buildout]
develop = .
parts = test coverage-test coverage-report i18n i18ncheck i18ndude

[test]
recipe = zc.recipe.testrunner
eggs = z3ext.preferences [test]

[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3ext.preferences [test]
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

[i18n]
recipe = z3c.recipe.i18n:i18n
packages = z3ext.preferences
domain = z3ext.preferences
output = ${buildout:directory}/src/z3ext/preferences/locales
eggs = z3ext.preferences [test]
zcml =
  <configure i18n_domain="zope"
             xmlns:zcml="http://namespaces.zope.org/zcml"
             xmlns:browser="http://namespaces.zope.org/browser">
    <include package="zope.component" file="meta.zcml" />
    <include package="zope.viewlet" file="meta.zcml" />
    <include package="zope.app.component" file="meta.zcml" />
    <include package="zope.app.security" file="meta.zcml" />
    <include package="zope.app.pagetemplate" file="meta.zcml" />
    <include package="zope.app.security" />
    <include package="zope.app.zcmlfiles" />

    <include package="z3c.autoinclude" file="meta.zcml" />
    <include package="z3ext.preferences" />
  </configure>

[i18ncheck]
recipe = buildout_script
template_dir = ${buildout:directory}/
template = i18ncheck.in

[i18ndude]
unzip = true
recipe = zc.recipe.egg
eggs = i18ndude
