[buildout]
develop = .
parts = test python coverage-test coverage-report

[test]
recipe = zc.recipe.testrunner
eggs = zc.openid [test]

[python]
recipe = zc.recipe.egg
eggs = zc.openid
interpreter = python

[coverage-test]
recipe = zc.recipe.testrunner
eggs = zc.openid [test]
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
