[buildout]
develop = . 
parts = openldap python-ldap
        test
versions = versions

# all this is to pin buildout to 1.4.3, as zc.recipe.cmmi is not yet updated
# to work with buildout 1.5.
# run bootstrap.py with -v 1.4.3 too
# once zc.recipe.cmmi is updated to support buildout 1.5, this
# versions section can be removed
[versions]
zc.buildout = 1.4.3
zc.recipe.egg = 1.2.2
zc.recipe.scripts = 1.0.0
zc.recipe.testrunner = 1.3.0

[test]
recipe = zc.recipe.testrunner
eggs = ldappas

[openldap]
recipe = zc.recipe.cmmi
url = http://www.openldap.org/software/download/OpenLDAP/openldap-release/openldap-2.4.23.tgz 
extra_options= --disable-slapd --disable-backends 

[python-ldap]
recipe = zc.recipe.egg:custom
egg = python-ldap
include-dirs = ${buildout:directory}/parts/openldap/include
               /sw/include/sasl
library-dirs = ${buildout:directory}/parts/openldap/lib
rpath = ${buildout:directory}/parts/openldap/lib
