[buildout]
extensions = mr.developer

develop = .
parts = py test omelette dependency test-coverage z3c.coverage
extends = 
    http://svn.zope.org/*checkout*/zopetoolkit/trunk/ztk.cfg?rev=108671
    http://svn.zope.org/*checkout*/zopetoolkit/trunk/zopeapp.cfg?rev=108687
versions = versions

auto-checkout = z3c.taskqueue
sources-dir = devel

[sources]
z3c.taskqueue = svn http://svn.zope.org/repos/main/Sandbox/gotcha/z3c.taskqueue


[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$']
eggs = lovely.remotetask [test]

[py]
recipe = zc.recipe.egg
interpreter = python
eggs = lovely.remotetask

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}

[dependency]
recipe = zc.recipe.egg:scripts
eggs = z3c.dependencychecker

[test-coverage]
recipe = zc.recipe.testrunner
eggs = ${test:eggs}
defaults = ['--coverage', '${buildout:directory}/coverage', '--auto-progress']

[z3c.coverage]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coveragereport
arguments = ('coverage', 'coverage/report')
