[buildout]
develop = .
parts = app test 

[app]
recipe = zc.recipe.egg
eggs = z3hello
       z3c.evalexception>=2.0
       Paste
       PasteScript
       PasteDeploy
interpreter = python

[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$']
eggs = z3hello
