[buildout]
develop = .
parts = helloapp instance test

[zope3]
location =

[helloapp]
recipe = zc.zope3recipes:app
site.zcml = <include package="z3hello" file="application.zcml" />
eggs = z3hello

[instance]
recipe = zc.zope3recipes:instance
application = helloapp
zope.conf = ${database:zconfig}

[database]
recipe = zc.recipe.filestorage

[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$']
eggs = z3hello
