[buildout]
parts = instance
        xmlrpc
find-links = http://dist.repoze.org/bfgsite/simple
eggs = zopyx.smartprintng.server
     
       
[instance]
recipe = repoze.recipe.egg:scripts
index = http://dist.repoze.org/bfg/1.0/simple
eggs = repoze.bfg 
       ${buildout:eggs}
       ${xmlrpc:eggs}

[xmlrpc]
recipe = repoze.recipe.egg:scripts
index = http://dist.repoze.org/bfgsite/simple
eggs = repoze.bfg.xmlrpc


