[buildout]
develop = .
parts = test checker coverage-test coverage-report performance


[test]
recipe = zc.recipe.testrunner
eggs = z3c.indexer [test]


[checker]
recipe = lovely.recipe:importchecker
path = src/z3c/indexer


[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3c.indexer [test]
defaults = ['--coverage', '../../coverage']


[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')


[performance]
recipe = z3c.recipe.dev:script
eggs = z3c.indexer [performance]
method = main
module = z3c.indexer.performance
