[buildout]
develop = . TodoList
parts = app test
find-links = http://download.zope.org/distribution/
newest = false

[app]
recipe = zc.recipe.egg
eggs = TodoList
       Paste
       PasteScript
       PasteDeploy

[test]
recipe = zc.recipe.testrunner
eggs = megrok.kiss
defaults = ['--tests-pattern', '^f?tests$', '-v']
