[buildout]
parts = 
    ztkdocs
    ztkappdocs
    zope2docs
    z3cdocs

[ztkdocs]
recipe = dataflake.docbuilder
trunk-only = True
eggs =
    zope.component
    zope.i18nmessageid
    zope.schema
    pytz
    repoze.sphinx.autointerface
index-template = ${buildout:directory}/templates
index-name = ztkpackages
output-directory = /var/www/docs.zope.org
z3csphinx-output-directory = /home/zope/z3c.zopedocs/parts/docs
sources =
    http://svn.zope.org/repos/main/zope.annotation
    http://svn.zope.org/repos/main/zope.applicationcontrol
    http://svn.zope.org/repos/main/zope.authentication
    http://svn.zope.org/repos/main/zope.broken
    http://svn.zope.org/repos/main/zope.browser
    http://svn.zope.org/repos/main/zope.browsermenu
    http://svn.zope.org/repos/main/zope.browserpage
    http://svn.zope.org/repos/main/zope.browserresource
    http://svn.zope.org/repos/main/zope.cachedescriptors
    http://svn.zope.org/repos/main/zope.catalog
    http://svn.zope.org/repos/main/zope.component
    http://svn.zope.org/repos/main/zope.componentvocabulary
    http://svn.zope.org/repos/main/zope.configuration
    http://svn.zope.org/repos/main/zope.container
    http://svn.zope.org/repos/main/zope.contentprovider
    http://svn.zope.org/repos/main/zope.contenttype
    http://svn.zope.org/repos/main/zope.copy
    http://svn.zope.org/repos/main/zope.copypastemove
    http://svn.zope.org/repos/main/zope.datetime
    http://svn.zope.org/repos/main/zope.deferredimport
    http://svn.zope.org/repos/main/zope.deprecation
    http://svn.zope.org/repos/main/zope.dottedname
    http://svn.zope.org/repos/main/zope.dublincore
    http://svn.zope.org/repos/main/zope.error
    http://svn.zope.org/repos/main/zope.event
    http://svn.zope.org/repos/main/zope.exceptions
    http://svn.zope.org/repos/main/zope.filerepresentation
    http://svn.zope.org/repos/main/zope.formlib
    http://svn.zope.org/repos/main/zope.hookable
    http://svn.zope.org/repos/main/zope.i18n
    http://svn.zope.org/repos/main/zope.i18nmessageid
    http://svn.zope.org/repos/main/zope.index
    http://svn.zope.org/repos/main/zope.interface
    http://svn.zope.org/repos/main/zope.intid
    http://svn.zope.org/repos/main/zope.keyreference
    http://svn.zope.org/repos/main/zope.lifecycleevent
    http://svn.zope.org/repos/main/zope.location
    http://svn.zope.org/repos/main/zope.login
    http://svn.zope.org/repos/main/zope.mimetype
    http://svn.zope.org/repos/main/zope.minmax
    http://svn.zope.org/repos/main/zope.pagetemplate
    http://svn.zope.org/repos/main/zope.password
    http://svn.zope.org/repos/main/zope.pluggableauth
    http://svn.zope.org/repos/main/zope.principalannotation
    http://svn.zope.org/repos/main/zope.principalregistry
    http://svn.zope.org/repos/main/zope.processlifetime
    http://svn.zope.org/repos/main/zope.proxy
    http://svn.zope.org/repos/main/zope.ptresource
    http://svn.zope.org/repos/main/zope.publisher
    http://svn.zope.org/repos/main/zope.ramcache
    http://svn.zope.org/repos/main/zope.schema
    http://svn.zope.org/repos/main/zope.security
    http://svn.zope.org/repos/main/zope.securitypolicy
    http://svn.zope.org/repos/main/zope.sendmail
    http://svn.zope.org/repos/main/zope.sequencesort
    http://svn.zope.org/repos/main/zope.server
    http://svn.zope.org/repos/main/zope.session
    http://svn.zope.org/repos/main/zope.site
    http://svn.zope.org/repos/main/zope.size
    http://svn.zope.org/repos/main/zope.structuredtext
    http://svn.zope.org/repos/main/zope.tal
    http://svn.zope.org/repos/main/zope.tales
    http://svn.zope.org/repos/main/zope.testing
    http://svn.zope.org/repos/main/zope.testrunner
    http://svn.zope.org/repos/main/zope.traversing
    http://svn.zope.org/repos/main/zope.viewlet


[ztkappdocs]
recipe = dataflake.docbuilder
trunk-only = True
eggs =  
index-template = ${buildout:directory}/templates
index-name = ztkapppackages
output-directory = /var/www/docs.zope.org
z3csphinx-output-directory = /home/zope/z3c.zopedocs/parts/docs
sources =
    http://svn.zope.org/repos/main/zope.app.applicationcontrol
    http://svn.zope.org/repos/main/zope.app.appsetup
    http://svn.zope.org/repos/main/zope.app.authentication
    http://svn.zope.org/repos/main/zope.app.basicskin
    http://svn.zope.org/repos/main/zope.app.broken
    http://svn.zope.org/repos/main/zope.app.component
    http://svn.zope.org/repos/main/zope.app.container
    http://svn.zope.org/repos/main/zope.app.content
    http://svn.zope.org/repos/main/zope.app.debug
    http://svn.zope.org/repos/main/zope.app.dependable
    http://svn.zope.org/repos/main/zope.app.error
    http://svn.zope.org/repos/main/zope.app.exception
    http://svn.zope.org/repos/main/zope.app.folder
    http://svn.zope.org/repos/main/zope.app.form
    http://svn.zope.org/repos/main/zope.app.generations
    http://svn.zope.org/repos/main/zope.app.http
    http://svn.zope.org/repos/main/zope.app.i18n
    http://svn.zope.org/repos/main/zope.app.locales
    http://svn.zope.org/repos/main/zope.app.localpermission
    http://svn.zope.org/repos/main/zope.app.pagetemplate
    http://svn.zope.org/repos/main/zope.app.principalannotation
    http://svn.zope.org/repos/main/zope.app.publication
    http://svn.zope.org/repos/main/zope.app.publisher
    http://svn.zope.org/repos/main/zope.app.renderer
    http://svn.zope.org/repos/main/zope.app.rotterdam
    http://svn.zope.org/repos/main/zope.app.schema
    http://svn.zope.org/repos/main/zope.app.security
    http://svn.zope.org/repos/main/zope.app.testing
    http://svn.zope.org/repos/main/zope.app.wsgi
    http://svn.zope.org/repos/main/zope.app.zcmlfiles
    http://svn.zope.org/repos/main/zope.app.zopeappgenerations
    http://svn.zope.org/repos/main/zope.generations
    http://svn.zope.org/repos/main/zope.testbrowser

[zope2docs]
recipe = dataflake.docbuilder
trunk-only = True
index-template = ${buildout:directory}/templates
index-name = zope2packages
output-directory = /var/www/docs.zope.org
z3csphinx-output-directory = /home/zope/z3c.zopedocs/parts/docs
eggs =
sources = 
    svn://svn.zope.org/repos/main/Zope
    svn://svn.zope.org/repos/main/AccessControl
    svn://svn.zope.org/repos/main/Acquisition
    svn://svn.zope.org/repos/main/DateTime
    svn://svn.zope.org/repos/main/DocumentTemplate
    svn://svn.zope.org/repos/main/ExtensionClass
    svn://svn.zope.org/repos/main/initgroups
    svn://svn.zope.org/repos/main/Missing
    svn://svn.zope.org/repos/main/MultiMapping
    svn://svn.zope.org/repos/main/nt_svcutils
    svn://svn.zope.org/repos/main/Persistence
    svn://svn.zope.org/repos/main/Products.BTreeFolder2
    svn://svn.zope.org/repos/main/Products.ExternalMethod
    svn://svn.zope.org/repos/main/Products.MailHost
    svn://svn.zope.org/repos/main/Products.MIMETools
    svn://svn.zope.org/repos/main/Products.OFSP
    svn://svn.zope.org/repos/main/Products.PythonScripts
    svn://svn.zope.org/repos/main/Products.StandardCacheManagers
    svn://svn.zope.org/repos/main/Products.ZCatalog
    svn://svn.zope.org/repos/main/Products.ZCTextIndex
    svn://svn.zope.org/repos/main/Record
    svn://svn.zope.org/repos/main/tempstorage
    svn://svn.zope.org/repos/main/zExceptions
    svn://svn.zope.org/repos/main/ZopeUndo
    svn://svn.zope.org/repos/main/ZODB

[z3cdocs]
recipe = dataflake.docbuilder
trunk-only = True
index-template = ${buildout:directory}/templates
index-name = z3cpackages
output-directory = /var/www/docs.zope.org
z3csphinx-output-directory = /home/zope/z3c.zopedocs/parts/docs
eggs =
sources = 
    svn://svn.zope.org/repos/main/z3c.form
    svn://svn.zope.org/repos/main/z3c.formjs
    svn://svn.zope.org/repos/main/z3c.boiler
    svn://svn.zope.org/repos/main/z3c.feature.core
    svn://svn.zope.org/repos/main/z3c.feature.zope
    svn://svn.zope.org/repos/main/z3c.builder.core

