[buildout]
develop = .
parts = test
eggs-directory = /opt/buildout/mars/eggs
develop-eggs-directory = /opt/buildout/mars/develop-eggs
extends = http://grok.zope.org/releaseinfo/grok-0.10.2.cfg
versions = versions
executable = /opt/sandbox/mars/bin/python2.4

[versions]
zope.securitypolicy = 3.4.0
zope.app.securitypolicy = 3.4.3

[test]
recipe = zc.recipe.testrunner
eggs = mars.form [test]
defaults = ['--tests-pattern', '^f?tests$',
	'-v'
	]

[zope3]
location = .

