[buildout]
extends = http://download.zope.org/zope3.4/3.4.0/versions.cfg
develop = .
          ../z3c.builder.core
          ../z3c.feature.core
          ../z3c.feature.zope
          externals/z3c.form
          externals/zc.selenium
parts = python
        boilerweb
        ctags
        test
        coverage-test
        coverage-report
        selenium-instance
        selenium
versions = versions

[python]
recipe = zc.recipe.egg
interpreter = py
eggs = z3c.boilerweb

[ctags]
recipe = z3c.recipe.tag:tags
eggs = z3c.boilerweb

# Testing
[test]
recipe = zc.recipe.testrunner
eggs = z3c.boilerweb [test]

[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3c.boilerweb [test]
defaults = ['--coverage', '${buildout:directory}/coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

# Web app
[zope3]
location = .

[boilerweb-app]
recipe = zc.zope3recipes:app
site.zcml = <include package="z3c.boilerweb" file="app.zcml" />
eggs = z3c.boilerweb
       z3c.feature.zope

[boilerweb]
recipe = zc.zope3recipes:instance
application = boilerweb-app
zope.conf = ${database:zconfig}
  <server>
    type HTTP
    address 8080
  </server>

[database]
recipe = zc.recipe.filestorage

[versions]
z3c.form =
zc.selenium =
zc.configuration = 1.0.0
z3c.layer.pagelet = 1.0.1
zope.site = 3.6.0
zope.container = 3.7.1
# --- Selenium Testing Setup ---

[selenium-app]
recipe = zc.zope3recipes:app
servers = zserver
eggs = ${test:eggs}
       zc.selenium
site.zcml = <include package="z3c.boilerweb.tests" file="selenium.zcml" />

[selenium-instance]
recipe = zc.zope3recipes:instance
application = selenium-app
zope.conf =
  devmode on
  <zodb>
    <demostorage>
    </demostorage>
  </zodb>
  <server http0>
    address 39857
    type WSGI-HTTP
  </server>


[selenium]
recipe = zc.recipe.egg:scripts
eggs = ${selenium-app:eggs}
script = selenium
entry-points = selenium=zc.selenium.selenium:main
initialization =
    sys.argv[1:1] = ['${selenium-instance:run-directory}/zope.conf', '-p8088',
                     '--base-url', 'http://localhost:%(port)s'
                     ]
