# Pick up the ZCML slugs:

<load>

dav-configure.zcml svn://svn.zope.org/repos/main/Zope3/tags/*/package-includes/dav-configure.zcml

dav-meta.zcml      svn://svn.zope.org/repos/main/Zope3/tags/*/package-includes/dav-meta.zcml

</load>
