[buildout]
extends = http://download.zope.org/zope3.4/3.4.0/versions.cfg
versions = versions
develop = .
parts = application instance test python pydev

[application]
recipe = zc.zope3recipes:application
eggs = zopesandbox
site.zcml =
  <include package="zopesandbox" />
  <configure xmlns:mail="http://namespaces.zope.org/mail">
  	<mail:queuedDelivery
  	  permission="zope.SendMail"
  	  queuePath="${buildout:directory}/var/mail-queue"
  	  mailer="smtp"
  	  />
  </configure>

[instance]
recipe = zc.zope3recipes:instance
application = application
zope.conf =
  devmode on
  <zodb>
    <blobstorage>
      blob-dir ${buildout:directory}/var/blobs
      <filestorage>
        path ${buildout:directory}/var/Data.fs
      </filestorage>
    </blobstorage>
  </zodb>

[test]
recipe = zc.recipe.testrunner
eggs = zopesandbox

[python]
recipe = zc.recipe.egg
eggs = zopesandbox
interpreter = python

[pydev]
recipe = pb.recipes.pydev
eggs = zopesandbox
