# Things listed here represent features we want to include in the
# distribution.
#
# We'll start with a micro distribution, and add the commented out
# things once we're confident the core is working.

zope.app
zope.app.apidoc
zope.app.authentication
zope.app.dav
zope.app.debugskin
zope.app.dtmlpage
zope.app.file
zope.app.ftp
zope.app.generations
zope.app.i18nfile
zope.app.introspector
zope.app.mail
zope.app.onlinehelp
zope.app.pluggableauth
zope.app.rdb
zope.app.securitypolicy
zope.app.server
zope.app.session
zope.app.sqlscript
zope.app.tree
zope.app.undo
zope.app.zptpage
zope.app.catalog
zope.app.zptpage.textindex
