[buildout]
develop = .
parts = test coverage-test coverage-report python

[test]
recipe = zc.recipe.testrunner
eggs = zope.app.publisher [test]

[python]
recipe = zc.recipe.egg
eggs = zope.app.publisher [test, zope_3_4_compat]
interpreter = python

[coverage-test]
recipe = zc.recipe.testrunner
eggs = zope.app.publisher [test]
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
