[buildout]
develop = .
parts = test coverage-test coverage-report python
index = http://download.zope.org/zope3.4

[test]
recipe = zc.recipe.testrunner
eggs = z3c.reload [test]

[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3c.reload [test]
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = z3c.reload
