/*
 * Grok Official Documentation CSS
 *
 * (clean me up! improve me! make me look nicer!)
 *
 */
@import url("base.css");

div.header div.title {
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: normal;
    font-size: 180%;
    color: #444;
    margin: 0px 0px 0.5em 10px;
    padding: 3px 1em 5px 0.25em;
}

div.header div.title img { 
    margin-top: -10px;
    he/ight: 60px;
 }

div.globalnav {
    color: #740;
    border-bottom: 1px solid #aaa;
    width: 100%;
    font-size: small;
    margin-top: -25px;
}

.yui-skin-sam tr { 
    font-family: 'Trebuchet MS', sans-serif;
    background-color: red;
}

.yui-skin-sam .yui-dt th,
.yui-skin-sam .yui-dt th a { 
    font-weight: bold;
}
