[buildout]
develop = . examples/hello
parts = test py hello

[test]
recipe = zc.recipe.testrunner
eggs = zc.publication

[py]
recipe = zc.recipe.egg
eggs = ${test:eggs}
interpreter = py

[hello]
recipe = zc.recipe.egg
eggs = ${test:eggs}
       PasteScript
       hello-example
initialization = import os
scripts = paster=hello
arguments = [
  'serve',
  os.path.join('${buildout:directory}', 'examples', 'hello', 'hello.ini'),
  ]
