[test]
working-directory = parts/instance
eggs = grok
recipe = zc.recipe.testrunner
extra-paths = /parts/zope3/src
defaults = ['--tests-pattern', '^f?tests$',
	'-v'
	]

[data]
recipe = zc.recipe.filestorage

[zope3]
recipe = zc.recipe.zope3checkout
url = svn://svn.zope.org/repos/main/Zope3/branches/3.3

[buildout]
parts = zope3 data instance test
develop = .

[instance]
database = data
eggs = setuptools
	grok
	megrok.quarry
recipe = zc.recipe.zope3instance
user = ksmith:123
zcml = zope.annotation
	zope.copypastemove
	zope.formlib
	zope.i18n-meta
	zope.i18n.locales
	zope.publisher
	zope.security-meta
	zope.size
	zope.traversing
	zope.traversing.browser
	zope.app
	zope.app-meta
	zope.app.securitypolicy
	zope.app.securitypolicy-meta
	zope.app.authentication
	zope.app.catalog
	zope.app.intid
	zope.app.keyreference
	zope.app.twisted
	zope.contentprovider
	grok
	grok-meta
	megrok.quarry-meta
	megrok.quarry
