[buildout]
develop = .
parts = test
extends = http://grok.zope.org/releaseinfo/grok-0.11.1.cfg

[test]
recipe = zc.recipe.testrunner
eggs = mars.layer [test]
defaults = ['--tests-pattern', '^f?tests$',
	'-v'
	]
