[buildout]
develop = .
parts = interpreter app runzope test

[interpreter]
recipe = zc.recipe.egg
interpreter = python
eggs = five.publication

[app]
# 
recipe = zc.recipe.egg
eggs = five.publication
       Paste
       PasteScript
       PasteDeploy
       z3c.evalexception

[runzope]
# old fashioned ZServer + ZPublisher
recipe = zc.recipe.egg:script
eggs = five.publication
entry-points = runzope=Zope2.Startup.run:run
initialization = sys.argv.extend(['-C', '${buildout:directory}/etc/zope.conf'])

[test]
recipe = zc.recipe.testrunner
eggs = five.publication
