/*
** Zope3 style sheet for CSS2-capable browsers.
**
*/

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: white;
    color: black;
    margin: 0;
    padding: 0pt;
}

h1, h2, h3, h4, h5, h6 { 
    font-weight: bold; 
    color: black; 
}

h2 { 
    font-size: 16pt;
    margin-top: 0px; 
    margin-bottom: 0px;
}

p {
    margin-top: 0.4em; 
    margin-bottom: 0.4em;  
}

a {
    color: #000066;
}

a:visited {
    color: #000066;
}

textarea {
  font-family: monospace;
}

/* Structural Elements */

#search {
    float: right;
}

#personal {
    padding-top: 0.5em;
    text-align: left;
}

#workspace {
  padding: 0.5em;
}

#actions {
    color: black;
    margin: 0;
}

#actions a {
    border-left: 1px dashed #AAAAAA;
    border-collapse: collapse;
    margin: 0;
    padding: 0 0.5em;
    float: left;
}

#actions a:hover {
    color: black;
    background-color: #AAAAAA;
}

#wikipage_header {
    background: #EEEEEE;
    border: solid 1px #AAAAAA;
    padding: 3pt;
}

#wikipage_path {
    font-size: 18pt;
    padding-top: 5pt;
    padding-bottom: 5pt;
}

#wikipage_info {
    border-top: solid 1px #CCCCCC;
    font-size: 85%;
}

#footer {
    background: #EEEEEE;
    border: solid 1px #AAAAAA;
    padding: 0.5em;
    font-size: 85%;
}

#jumpto {
  float: right;
}

#jumpto input {
  width: 10em;
}

div.row {
    clear: both;
    padding-top: 10px;
}

div.row div.label {
    float: left;
    width: 100px;
    text-align: right;
    margin-right: 0.8em;
}
# XXX someone please come and do this properly
div.row div.field {
    float: right;
    text-align: left;
}


/* The ReST->HTML generator uses these classes for figures.  */

.figure
    {
    margin: 15px;
    padding: 5px;
    border-style: dotted;
    border-width: 1px;
    background: LightGray;
    }

img > .figure
    {
    text-align: center;  /* this doesn't seem to work */
    margin: 5px;
    padding-left: 10px;
    }

.caption
    {
    font-style: italic;
    /* text-align: center; */
    }

