[buildout]
develop = . grok
parts = interpreter test
find-links = http://download.zope.org/distribution/
extends = grok/versions.cfg
versions = versions

[interpreter]
recipe = zc.recipe.egg
eggs = megrok.kss
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = megrok.kss
defaults = ['--tests-pattern', '^f?tests$', '-v']