[buildout]
develop = .
parts = test
extends = versions.cfg
versions = versions
newest = false

[versions]
z3c.pagelet = 1.0.3

[test]
recipe = zc.recipe.testrunner
eggs = 
    megrok.z3cform.ui
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']
