[buildout]
develop = . ldapadapter
parts = zope3 data instance test-ldappas test-ldapadapter

find-links = http://download.zope.org/distribution/

[zope3]
recipe = zc.recipe.zope3checkout
url = svn://svn.zope.org/repos/main/Zope3/branches/3.3

[data]
recipe = zc.recipe.filestorage

[instance]
recipe = zc.recipe.zope3instance
database = data
user = faassen:test
eggs = setuptools
       ldappas 
       ldapadapter
zcml = *
       ldappas
       ldapadapter

[test-ldappas]
recipe = zc.recipe.testrunner
eggs = ldappas
extra-paths = parts/zope3/src

[test-ldapadapter]
recipe = zc.recipe.testrunner
eggs = ldapadapter
extra-paths = parts/zope3/src

# to install openldap + python-ldap in the buildout. This doesn't work yet

#[openldap]
#recipe = zc.recipe.cmmi
#url = ftp://ftp.nl.uu.net/pub/unix/db/openldap/openldap-stable/openldap-stable-20060823.tgz

#[python-ldap]
#recipe = zc.recipe.egg:custom
#eggs = python-ldap == 2.2.0
#find-links = http://localhost # /home/faassen/buildout/lpdappas
#include-dirs = ${buildout:directory}/parts/openldap/include
#library-dirs = $(buildout:directory}/parts/openldap/lib
#rpath = $(buildout:directory)/parts/openldap/lib