[buildout]
parts =
    plone
    zope2
    productdistros
    instance
    zopepy

# Add additional egg download sources here. dist.plone.org contains archives
# of Plone packages.
find-links =
    http://dist.plone.org
    http://download.zope.org/ppix/
    http://download.zope.org/distribution/
    http://effbot.org/downloads

# Add additional eggs here
# elementtree is required by Plone
eggs =
    elementtree
    PILwoTk
#    Products.LinguaPlone
#    BeautifulSoup
	zope.introspector
    
# Reference any eggs you are developing here, one per line
# e.g.: develop = src/my.package
develop =
	src/zope.introspector

newest = false
versions = versions

[versions]


[plone]
recipe = plone.recipe.plone >=3.0,<3.1dev
#recipe = plone.recipe.plone == 3.1.1
#recipe = plone.recipe.plone25install
url = 
#    http://plone.googlecode.com/files/Plone-2.5.4-final.tar.gz
eggs =

[zope2]
recipe = plone.recipe.zope2install
url = ${plone:zope2-url}

# Use this section to download additional old-style products.
# List any number of URLs for product tarballs under URLs (separate
# with whitespace, or break over several lines, with subsequent lines
# indented). If any archives contain several products inside a top-level
# directory, list the archive file name (i.e. the last part of the URL, 
# normally with a .tar.gz suffix or similar) under 'nested-packages'.
# If any archives extract to a product directory with a version suffix, list
# the archive name under 'version-suffix-packages'.
[productdistros]
recipe = plone.recipe.distros
urls = 
nested-packages =
version-suffix-packages = 

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
http-address = 8080
debug-mode = off
verbose-security = off
user = admin:admin


# If you want Zope to know about any additional eggs, list them here.
# This should include any development eggs you listed in develop-eggs above,
# e.g. eggs = ${buildout:eggs} ${plone:eggs} my.package
eggs =
    ${buildout:eggs}
    ${plone:eggs}

# If you want to register ZCML slugs for any packages, list them here.
# e.g. zcml = my.package my.other.package
zcml = 
	zope.introspector

products =
    ${buildout:directory}/products
    ${productdistros:location}
    ${plone:products}

[zopepy]
recipe = zc.recipe.egg
eggs =
    ${buildout:eggs}
    ${plone:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

#[zeoserver]
#recipe = plone.recipe.zope2zeoserver
#zope2-location = ${zope2:location}
#zeo-address = 8100

#[private-client]
#recipe = plone.recipe.zope2instance
#zope2-location = ${zope2:location}
#zeo-client = true
#zeo-address = 8100
#zodb-cache-size = 5000
#zeo-client-cache-size = 300MB
#user = admin:admin
#http-address = 8080
#debug-mode = off
#verbose-security = off
#eggs =
#    ${plone:eggs}
#    ${buildout:eggs}
#zcml = 
#    
#products =
#    ${buildout:directory}/products
#    ${productdistros:location}
#    ${plone:products}

#[public-client-1]
#recipe = plone.recipe.zope2instance
#zope2-location = ${zope2:location}
#zeo-client = true
#zeo-address = 8100
#zodb-cache-size = 5000
#zeo-client-cache-size = 300MB
#user = ${private-client:user}
#http-address = 8081
#debug-mode = off
#verbose-security = off
#eggs = ${private-client:eggs}
#zcml = ${private-client:zcml}
#products = ${private-client:products}
#zope-conf-additional =
#    zserver-threads 1
    
#[varnish-build]
#recipe = plone.recipe.varnish:build
#url = http://downloads.sourceforge.net/varnish/varnish-1.1.2.tar.gz

#[varnish-instance]
#recipe = plone.recipe.varnish:instance
#bind = 127.0.0.1:8280
#backends =
#     127.0.0.1:8180
#cache-size = 1G

#[pound]
#recipe = iw.recipe.pound
#owner = jorgen
#group = jorgen
#url = http://www.apsis.ch/pound/Pound-2.3.2.tgz
#balancers = 
#    main  8180 127.0.0.1:8080 127.0.0.1:8081
    
#[apache-build]
#recipe = tl.buildout_apache:httpd
#url = http://netmirror.org/mirror/apache.org/httpd/httpd-2.2.8.tar.gz
#md5sum = 39a755eb0f584c279336387b321e3dfc

#[apache-instance]
#recipe = tl.buildout_apache:root
#httpd = apache-build

