[buildout]
extends = base.cfg
#parts =
#    plone
#    zope2
#    productdistros
#    zopepy
#    zeoserver
#    private-client
#    public-client-1
#    varnish-build
#    varnish-instance
#    pound
#    apache-build
#    apache-instance