[buildout]
index = http://dist.repoze.org/bfg/current/simple
parts = 
     bfg
     smartprintng
     xmlrpc

[bfg]
index = http://dist.repoze.org/bfg/current/simple
recipe = zc.recipe.egg
dependent-scripts = true
eggs = repoze.bfg
interpreter = py

[smartprintng]
index = http://pypi.python.org/simple
recipe = zc.recipe.egg
dependent-scripts = true
eggs = zopyx.smartprintng.server
interpreter = py


[xmlrpc]
index = http://dist.repoze.org/bfgsite//simple
recipe = zc.recipe.egg
dependent-scripts = true
eggs = repoze.bfg.xmlrpc
interpreter = py
