[buildout]
develop =
    src/stxutils
parts =
    stxpy

eggs-directory = ${buildout:directory}/eggs
versions = versions
unzip = true
eggs =
    zope.structuredtext

[versions]
zc.buildout =
zc.recipe.egg =
zope.structuredtext = 

[stxpy]
recipe = zc.recipe.egg
eggs =
    stxutils
    Sphinx
interpreter = stxpy
scripts =
    stx2html
    stx2rst
    sphinx-build
    sphinx-quickstart
