[buildout]
extends = coverage.cfg
develop = .
parts = paste-scripts test importchecker
        coverage-test coverage-out-dir
        coverage-report coverage-report-dir
        coverage
find-links = http://download.zope.org/distribution

[test]
recipe = zc.recipe.testrunner
defaults = ['--auto-color']
eggs = lovely.zetup [test]

[paste-scripts]
recipe = zc.recipe.egg:script
eggs = lovely.zetup
       PasteScript

[importchecker]
recipe = lovely.recipe:importchecker
