[buildout]
develop = .
parts = sources test
extends = versions.cfg
versions = versions
newest = false

[versions]
z3c.pagelet = 1.0.3
zope.container = 3.8.1

[sources]
recipe=infrae.subversion
urls = svn://svn.zope.org/repos/main/megrok.z3cform.base/trunk megrok.z3cform.base
as_eggs=True


[test]
recipe = zc.recipe.testrunner
eggs = 
    megrok.z3cform.wizard 
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']
