[buildout]
develop = . vice.outbound.core
parts = test
find-links = http://download.zope.org/distribution/
extends = http://grok.zope.org/releaseinfo/grok-0.13.cfg
versions = versions
# temporary, until Rope is fixed or I figure out how to wrangle it
eggs-directory = eggs

[test]
recipe = zc.recipe.testrunner
eggs = megrok.feeds
defaults = ['--tests-pattern', '^f?tests$', '-v']
