# Pick up the ZCML slugs:

<load>

onlinehelp-configure.zcml svn://svn.zope.org/repos/main/Zope3/tags/*/package-includes/onlinehelp-configure.zcml

onlinehelp-meta.zcml      svn://svn.zope.org/repos/main/Zope3/tags/*/package-includes/onlinehelp-meta.zcml

</load>
