[buildout]
develop = .
parts = eggbasket app i18n test data log zpasswd
        zope_conf site_zcml zdaemon_conf deploy_ini debug_ini
newest = false
find-links = http://download.zope.org/distribution/
extends = versions.cfg
versions = versions
extensions += mr.developer
auto-checkout =
    megrok.z3cform.base
    megrok.z3cform.layout
    megrok.z3cform.wizard
    megrok.z3cform.tabular
    megrok.z3cform.ui

[versions]
z3c.pagelet = 1.0.3

[sources]
megrok.z3cform.base      = svn svn+ssh://svn.zope.org/repos/main/megrok.z3cform.base/trunk
megrok.z3cform.layout    = svn svn+ssh://svn.zope.org/repos/main/megrok.z3cform.layout/trunk
megrok.z3cform.wizard    = svn svn+ssh://svn.zope.org/repos/main/megrok.z3cform.wizard/trunk
megrok.z3cform.tabular    = svn svn+ssh://svn.zope.org/repos/main/megrok.z3cform.tabular/trunk
megrok.z3cform.ui    = svn svn+ssh://svn.zope.org/repos/main/Sandbox/cklinger/megrok.z3cform.ui/trunk
# do "bin/develop up -v" to update all the checkouts

[app]
recipe = zc.recipe.egg
eggs = grokformdemo
       z3c.evalexception>=2.0
       Paste
       PasteScript
       PasteDeploy
interpreter = python-console


[data]
recipe = zc.recipe.filestorage

[log]
recipe = zc.recipe.filestorage

[test]
recipe = zc.recipe.testrunner
eggs = grokformdemo
defaults = ['--tests-pattern', '^f?tests$', '-v']

# this section named so that the i18n scripts are called bin/i18n...
[i18n]
recipe = z3c.recipe.i18n:i18n
packages = grokformdemo
eggs = grokformdemo
domain = grokformdemo
output = src/grokformdemo/locales
zcml =

# This section is named so that the zpasswd utility is
# called `zpasswd`
[zpasswd]
recipe = z3c.recipe.dev:script
eggs = grokformdemo
module = zope.app.server.zpasswd
method = main

[zope_conf]
recipe = z3c.recipe.template
input = etc/zope.conf.in
output = ${buildout:parts-directory}/etc/zope.conf

[site_zcml]
recipe = z3c.recipe.template
input = etc/site.zcml.in
output = ${buildout:parts-directory}/etc/site.zcml

[zdaemon_conf]
recipe = z3c.recipe.template
input = etc/zdaemon.conf.in
output = ${buildout:parts-directory}/etc/zdaemon.conf

[deploy_ini]
recipe = z3c.recipe.template
input = etc/deploy.ini.in
output = ${buildout:parts-directory}/etc/deploy.ini

[debug_ini]
recipe = z3c.recipe.template
input = etc/debug.ini.in
output = ${buildout:parts-directory}/etc/debug.ini


[eggbasket]
recipe = z3c.recipe.eggbasket
eggs = grok
url = http://grok.zope.org/releaseinfo/grok-eggs-1.0a4.tgz
