<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <title>ZBoiler Pre-Alpha Screencast</title>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/swfobject/2.1/swfobject.js"></script>
    <script type="text/javascript">
      var flashvars = {};
      var params = {};
      var attributes = {};
      attributes.id = "screencast";
      swfobject.embedSWF("http://zboiler.com/zboiler-prealpha-demo.swf", "screencast", "800", "600", "9.0.0", false, flashvars, params, attributes);
    </script>
    <style type="text/css">
      #wrap{
        width: 800px;
        margin: auto;
        }
    </style>
  </head>
  <body>
    <div id="wrap">
      <div id="screencast">
      </div>
    </div>
  </body>
</html>