[buildout]
develop = .
parts = generate-buildout generate-versions upload

[generate-buildout]
recipe = zc.recipe.egg:scripts
eggs = zope.release
scripts = generate-buildout
arguments = ('controlled-packages.cfg',
             'http://download.zope.org/zope3.4',
             './test-buildout.cfg')

[generate-versions]
recipe = zc.recipe.egg:scripts
eggs = zope.release
scripts = generate-versions
arguments = ('controlled-packages.cfg',
             './latest-versions.cfg')

[upload]
recipe = zc.recipe.egg:scripts
eggs = zope.release
scripts = upload
arguments = ('./test-buildout.cfg=buildout.cfg',
             './latest-versions.cfg=versions.cfg',
             './controlled-packages.cfg',
             'download.zope.org:/var/www/download.zope.org/zope3.4',)
