[buildout]
develop = .
parts = test coverage-test coverage-report

[versions]
z3c.zrtresource = 1.1.0

[test]
recipe = zc.recipe.testrunner
eggs = z3ext.layout [test]

[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3ext.layout [test]
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
