[buildout]
develop = .
          externals/z3c.layer.ready2go
          externals/z3c.layer.pagelet
          externals/z3c.skin.pagelet
          externals/z3c.menu.ready2go
parts = demo test coverage

[test]
recipe = zc.recipe.testrunner
eggs = z3c.skin.ready2go [app, test]

[coverage]
recipe = zc.recipe.egg
eggs = z3c.coverage

[zope3]
location = .

[ready2go-demo-app]
recipe = zc.zope3recipes:app
site.zcml = <include package="z3c.skin.ready2go" file="ftesting.zcml" />
eggs = z3c.skin.ready2go [app]

[demo]
recipe = zc.zope3recipes:instance
application = ready2go-demo-app
zope.conf = ${database:zconfig}

[database]
recipe = zc.recipe.filestorage
