[buildout]
parts = zope2 
        instance 
        test 
        zopepy
        omelette
        dependency
        compattest
        test-all

develop = .
versions = versions

[zope2]
recipe = plone.recipe.zope2install
url = http://www.zope.org/Products/Zope/2.10.11/Zope-2.10.11-final.tgz
fake-zope-eggs = true
skip-fake-eggs = zope.traversing
                 zope.proxy
                 zope.component
                 zope.schema
                 zope.publisher
                 zope.location
                 zope.testing
                 zope.i18nmessageid
                 zope.app.component

[versions]
plone.recipe.zope2install = 3.2
plone.recipe.zope2instance = 3.6

zope.component = 3.5.1
zope.location = 3.5.2
zope.traversing = 3.5.4
zc.table = 0.7
zc.resourcelibrary = 1.0.1
zope.securitypolicy = 3.4.1
zope.app.component = 3.4.2
zope.app.publisher = 3.5.2
zope.publisher = 3.5.6
zope.app.testing = 3.4.4
zope.app.appsetup = 3.8.0
zope.app.securitypolicy = 3.4.6
zope.app.zcmlfiles = 3.5.5
zope.i18nmessageid = 3.4.2

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8080
#debug-mode = on
#verbose-security = on

eggs =
    lovely.remotetask [zope2]
zcml =
    lovely.remotetask
products =

[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern', '^f?tests$']
eggs =  ${instance:eggs}
        lovely.remotetask [test]
extra-paths = ${zope2:location}/lib/python

[zopepy]
# For more information on this step and configuration options see:
# http://pypi.python.org/pypi/zc.recipe.egg
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

[omelette]
recipe = collective.recipe.omelette
eggs = ${test:eggs}
products = 
packages = ${zope2:location}/lib/python ./

[dependency]
recipe = zc.recipe.egg:scripts
eggs = z3c.dependencychecker

[compattest]
recipe = z3c.recipe.compattest
include = 
extra-paths = ${zope2:location}/lib/python

[test-all]
recipe = plone.recipe.alltests
