[buildout]
develop = .
parts = sources test
extends = http://grok.zope.org/releaseinfo/grok-1.0.cfg
versions = versions
newest = false

[versions]
z3c.pagelet = 1.0.3
megrok.z3ctable >= 1.3.0

[sources]
recipe = infrae.subversion
urls = 
   svn://svn.zope.org/repos/main/Sandbox/cklinger/megrok.z3cform.ui/trunk megrok.z3cform.ui
as_eggs = True


[test]
recipe = zc.recipe.testrunner
eggs = 
    megrok.z3cform.tabular
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']
