[buildout]
develop = .
parts = sources test
extends = versions.cfg
versions = versions
newest = false

[versions]
z3c.pagelet = 1.0.3
grokcore.view = 1.12.1
grok = 1.0a4

[sources]
recipe = infrae.subversion
urls = 
   svn://svn.zope.org/repos/main/Sandbox/cklinger/megrok.z3cform.ui/trunk megrok.z3cform.ui
   svn://svn.zope.org/repos/main/megrok.z3cform.base/trunk megrok.z3cform.base
as_eggs = True


[test]
recipe = zc.recipe.testrunner
eggs = 
    megrok.z3cform.tabular
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']
