# Copied from five.grok/buildout.cfg
# You cannot use the 'standard' version.cfg from grok, because
# this upsets the zope2 fake egg paths

[versions]
plone.recipe.zope2install >= 3.0
grokcore.annotation = 1.0.1
grokcore.component = 1.7
grokcore.formlib = 1.1
grokcore.security = 1.1
grokcore.site = 1.0.1
grokcore.view = 1.7
grokcore.viewlet = 1.0
five.localsitemanager = 1.1
martian = 0.11
zope.app.publisher = 3.5.1
zope.app.zcmlfiles = 3.4.3
zope.component = 3.4
zope.i18n = 3.6.0
zope.interface = 3.5.1
zope.securitypolicy = 3.4.1
zope.testing = 3.7.5

