# This is the zc.buildout configuration
# For more information on managing your Plone instance using buildout please
# see http://plone.org/documentation/tutorial/buildout

[buildout]
extends =
    versions.cfg
    base.cfg
versions = versions
parts =
    plone
    zope2
    productdistros
    zeo
    instance
    zopepy
eggs =
develop =
    src/zopeorg.deployment
    src/zopeorg.theme

[instance]
eggs =
    ${buildout:eggs}
    ${plone:eggs}
    zopeorg.deployment
zcml =
    zopeorg.deployment
