# This is the zc.buildout configuration
# For more information on managing your Plone instance using buildout please
# see http://plone.org/documentation/tutorial/buildout

[buildout]
find-links =
    http://dist.plone.org
    http://download.zope.org/distribution/
    http://download.zope.org/ppix/
    http://effbot.org/downloads
versions = versions
parts =
    plone
    zope2
    zeoserver
    instance1
eggs =
    elementtree
    PILwoTk
develop =
    src/zopeorg.deployment
    src/zopeorg.theme

[versions]
plone.recipe.plone = 3.1.5
Products.PloneFormGen = 1.2.3

[plone]
recipe = plone.recipe.plone

[zope2]
recipe = plone.recipe.zope2install
url = ${plone:zope2-url}
ersion-suffix-packages =

[zeoserver]
recipe = plone.recipe.zope2zeoserver
zope2-location = ${zope2:location}
zeo-address = ${buildout:directory}/var/zeo.soc

[instance1]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
debug-mode = off
verbose-security = off
zeo-client = True
zeo-address = ${zeoserver:zeo-address}
user = admin:admin
http-address = 127.0.0.1:8080
eggs =
    ${buildout:eggs}
    ${plone:eggs}
    zopeorg.deployment
zcml =
    zopeorg.deployment
products =
    ${buildout:directory}/products
    ${plone:products}
zope-conf-additional =
    <environment>
       DISABLE_PTS true
    </environment>

