[buildout]
extends = http://download.zope.org/zope3.4/versions.cfg
versions = versions
develop = .
parts = python pydev

[python]
recipe = zc.recipe.egg:scripts
eggs = zcmlschema
scripts = generate-schema
interpreter = python

[pydev]
recipe = pb.recipes.pydev
eggs = ${python:eggs}
