[buildout]
extends = versions.cfg
develop = .
parts = test
versions = versions
newest = false

[versions]
zope.container = 3.7.1
# temporarily included due to upstream conflicts 

[test]
recipe = zc.recipe.testrunner
eggs = megrok.z3cform [test]
defaults = ['--tests-pattern', '^f?tests$', '-v']
