[buildout]
develop = .
parts = interpreter test
extends = http://grok.zope.org/releaseinfo/grok-1.0a3.cfg
versions = versions

[interpreter]
recipe = zc.recipe.egg
eggs = megrok.form
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = megrok.form
defaults = ['--tests-pattern', '^f?tests$', '-v']


