[buildout]
develop = .
parts = test kgstest

[test]
recipe = zc.recipe.testrunner
eggs = z3c.recipe.kgstest[test]

# for debugging
[kgstest]
recipe = z3c.recipe.kgstest
exclude = .*
include = z3c.recipe.kgstest