/* Home css for ZSCP skin *
** Author: Kamal Gill 
** kamal (dot) gill (at) adaptivewave (dot) com */

#homeMainImage {
    position: relative;
    width: 575px; height: 173px;
    background: url(../img/homeMainImage.png) no-repeat left top;
}
#homeImageTopLeft {
    position: absolute;
    top: 0px; left: 0px;
    width: 20px; height: 20px;
    background: url(../img/homeImageTopLeft.png) no-repeat left top;
}
#homeImageTopRight {
    position: absolute;
    top: 0px; right: 0px;
    width: 20px; height: 20px;
    background: url(../img/homeImageTopRight.png) no-repeat right top;
}

.homeImgOverlay {
    display: block; position: absolute;
}
.homeImgOverlay:hover {
    border: 1px solid #0066cc;
    border-bottom: none;
}
#homePackagesLink {
    right: 210px; bottom: 0px;
    width: 87px; height: 26px;
}
#homeBenefitsLink {
    right: 118px; bottom: 0px;
    width: 88px; height: 26px;
}
#homeContributeLink {
    right: 10px; bottom: 0px;
    width: 104px; height: 26px;
}

#whatIsZSCP {
    margin: 40px 0px 20px 1px;
    font-size: 150%;
    color: #666;
}

.siteListItem {
    line-height: 1.8em;
    margin-bottom: 15px;
    padding-left: 35px;
    background: url(../img/threeCircles.png) no-repeat 15px 2px;
}