[buildout]
extends =
  http://download.zope.org/zopetoolkit/index/1.1/ztk-versions.cfg
  http://download.zope.org/zopetoolkit/index/1.1/zopeapp-versions.cfg
develop = .
parts =
  scripts
  docs
  devpython
versions = versions
allow-picked-versions = false
extensions = mr.developer
auto-checkout = zope.testbrowser
sources = sources

[sources]
zope.testbrowser = svn svn+ssh://svn.zope.org/repos/main/zope.testbrowser/branches/jinty-webtest3

[versions]
WebTest = 1.2.3
WebOb = 1.0.4
cov-core = 1.2
coverage = 3.4
execnet = 1.0.8
py = 1.4.2
pytest = 2.0.2
pytest-cov = 1.3
pytest-xdist = 1.5
zest.releaser = 3.20

[scripts]
recipe = z3c.recipe.scripts
eggs =
  zope.pytest[tests]
  zest.releaser
  pytest
  pytest-cov

[docs]
recipe = z3c.recipe.scripts
eggs = zope.pytest[docs]
dependent-scripts = true
scripts = sphinx-build sphinx-quickstart

[devpython]
recipe = z3c.recipe.scripts:interpreter
eggs = zope.pytest
