# This is used by the Zope 3 packaging tool to support construction of
# the zope.app portion of the Zope 3 distribution.  This file is used
# to specify which files and directories should be included in the
# distribution of the zope.app package itself; many of the child
# packages will be separate components that can be added by larger
# distributions.
#
# This file does *not* define any Zope 3 distribution, only the
# zope.app package itself.
#
# (Most packages won't need such elaborate packaging metadata; zope
# and zope.app are truly special cases.)

<collection>

README.txt

# These things are absolutely essential to making Zope 3 run.

# Code:

applicationcontrol
appsetup
authentication
basicskin
broken
# bundle
# cache
component
container
content
debug
dependable
error
exception
folder
form
generations
# maybe can combine with zope.app.publisher.http
http
i18n
__init__.py
# maybe we can refactor this away
interface
layers
pagetemplate
preview
principalannotation
publication
publisher
rotterdam
schema
security
servicenames
site
skins
testing
locales
wsgi
zopeappgenerations
zapi
zcmlfiles

# BBB 2006/05/01 -- to be removed after 12 months

annotation
content_types
copypastemove
datetimeutils
decorator
dublincore
event
filerepresentation
location
mail
rdb
size
traversing
timezones

</collection>
