[buildout]
develop = .
	  ../zope.publisher
parts = test python coverage-test coverage-report

[test]
recipe = zc.recipe.testrunner
eggs = zope.pipeline [test]

[python]
recipe = zc.recipe.egg
eggs = zope.pipeline
interpreter = python

[coverage-test]
recipe = zc.recipe.testrunner
eggs = zope.pipeline
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
