[buildout]
develop = .
parts = eggbasket app i18n test data log zpasswd
        zope_conf site_zcml zdaemon_conf deploy_ini debug_ini
newest = false
extends = http://grok.zope.org/releaseinfo/grok-1.0b2.cfg
# eggs will be installed in the default buildout location
# (see .buildout/default.cfg in your home directory)
# unless you specify an eggs-directory option here.

versions = versions
extensions += mr.developer
auto-checkout =
    megrok.rdb
    z3c.saconfig

[sources]
megrok.rdb      = svn svn+ssh://svn.zope.org/repos/main/megrok.rdb/trunk
z3c.saconfig    = svn svn+ssh://svn.zope.org/repos/main/z3c.saconfig/trunk
zope.sqlalchemy = svn svn://svn.zope.org/repos/main/zope.sqlalchemy/trunk

[versions]
Paste = 1.7.2
PasteDeploy = 1.3.3
PasteScript = 1.7.3
SQLAlchemy = 0.5.6
mr.developer = 1.1
z3c.evalexception = 2.0
z3c.recipe.dev = 0.5.4
z3c.recipe.i18n = 0.5.0
z3c.recipe.template = 0.1
zc.recipe.egg = 1.2.2
zc.recipe.filestorage = 1.0.1
docutils = 0.5
elementtree = 1.2.7-20070827-preview
grokcore.startup = 0.2
transaction = 1.0.0
zc.buildout = 1.4.1
zope.sqlalchemy = 0.4

[app]
recipe = zc.recipe.egg
eggs = rdbexample
       z3c.evalexception>=2.0
       Paste
       PasteScript
       PasteDeploy
interpreter = python-console

[data]
recipe = zc.recipe.filestorage

[log]
recipe = zc.recipe.filestorage

[test]
recipe = zc.recipe.testrunner
eggs = rdbexample
defaults = ['--tests-pattern', '^f?tests$', '-v']

# this section named so that the i18n scripts are called bin/i18n...
[i18n]
recipe = z3c.recipe.i18n:i18n
packages = rdbexample
eggs = rdbexample
domain = rdbexample
output = src/rdbexample/locales
zcml =

# This section is named so that the zpasswd utility is
# called `zpasswd`
[zpasswd]
recipe = z3c.recipe.dev:script
eggs = rdbexample
module = zope.app.server.zpasswd
method = main

[zope_conf]
recipe = z3c.recipe.template
input = etc/zope.conf.in
output = ${buildout:parts-directory}/etc/zope.conf

[site_zcml]
recipe = z3c.recipe.template
input = etc/site.zcml.in
output = ${buildout:parts-directory}/etc/site.zcml

[zdaemon_conf]
recipe = z3c.recipe.template
input = etc/zdaemon.conf.in
output = ${buildout:parts-directory}/etc/zdaemon.conf

[deploy_ini]
recipe = z3c.recipe.template
input = etc/deploy.ini.in
output = ${buildout:parts-directory}/etc/deploy.ini

[debug_ini]
recipe = z3c.recipe.template
input = etc/debug.ini.in
output = ${buildout:parts-directory}/etc/debug.ini


[eggbasket]
recipe = z3c.recipe.eggbasket
eggs = grok
url = http://grok.zope.org/releaseinfo/grok-eggs-1.0b2.tgz
