[buildout]
develop = .
parts = sources test
extends = versions.cfg
versions = versions
newest = false

[versions]
z3c.pagelet = 1.0.3
zope.container = 3.8.1

[sources]
recipe = infrae.subversion
as_eggs = True
urls = 
    svn://svn.zope.org/repos/main/megrok.z3cform/branches/megrok.z3cfrom-layout megrok.z3cform

[test]
recipe = zc.recipe.testrunner
eggs = megrok.z3cwizard 
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c', '--package=megrok.z3cwizard']
