[buildout]
develop = .
parts = test coverage-test coverage-report docs

[test]
recipe = zc.recipe.testrunner
eggs = z3c.mimetype [test]

[docs]
recipe = z3c.recipe.sphinxdoc
eggs = z3c.mimetype [docs]
build-dir = ${buildout:directory}/docs
default.css =
layout.html =

[coverage-test]
recipe = zc.recipe.testrunner
eggs = z3c.mimetype [test]
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')
