[buildout]
extends = versions.cfg
parts =
    zope2
    instance
    zopepy
    test
develop = .
          devel/megrok.z3cform.base
versions = versions

[versions]
z3c.form = 2.1.0
grokcore.annotation = 1.1
grokcore.component = 1.7
grokcore.formlib = 1.4
grokcore.security = 1.2
grokcore.site = 1.1
grokcore.view = 1.12.2
grokcore.viewlet = 1.3
five.localsitemanager = 1.1
martian = 0.11
zope.app.publisher = 3.5.1
zope.app.zcmlfiles = 3.4.3
zope.component = 3.4.0
zope.i18n = 3.4.0
zope.interface = 3.4.1
zope.securitypolicy = 3.4.1
zope.testing = 3.7.6


# Unpin these packages so that the fake-eggs from the zope2 system are used
zope.configuration = 
zope.app.container = 
ZODB3 = 
zope.annotation = 
zope.interface = 
zope.app.component = 
zope.app.security = 
zope.lifecycleevent = 
zope.viewlet = 
zope.app.authentication = 
zope.testbrowser = 
zope.app.pagetemplate = 
zope.traversing = 
zope.security = 
zope.schema = 
zope.formlib = 
zope.event = 
zope.deferredimport = 
zope.deprecation = 
zope.app.schema = 
zope.app.wsgi = 
zope.app.rotterdam = 
zope.app.basicskin = 
zope.app.principalannotation = 
zope.app.zopeappgenerations = 
zope.app.locales = 
zope.app.i18n = 
zope.app.form = 
zope.app.interface = 
zope.app.generations = 
zope.publisher = 
zope.app.content = 
zope.app.dependable = 
zope.modulealias = 
zope.location = 
zope.i18nmessageid = 
zope.exceptions = 
zope.pagetemplate = 
zope.datetime = 
zope.contenttype = 
zope.app.publication = 
pytz = 
kable = 

[zope2]
recipe = plone.recipe.zope2install
url = http://www.zope.org/Products/Zope/2.10.5/Zope-2.10.5-final.tgz
fake-zope-eggs = true
skip-fake-eggs =
    zope.component
    zope.schema

[instance]
recipe = plone.recipe.zope2instance
zope2-location = ${zope2:location}
user = admin:admin
http-address = 8080
debug-mode = on
verbose-security = on
eggs =
    zope.component>=3.4,<3.5dev
    megrok.z3cform.base
    five.megrok.z3cform
zcml = five.megrok.z3cform:meta.zcml
       five.megrok.z3cform
products =

[zopepy]
recipe = zc.recipe.egg
eggs = ${instance:eggs}
interpreter = zopepy
extra-paths = ${zope2:location}/lib/python
scripts = zopepy

[test]
recipe = zc.recipe.testrunner
eggs = ${instance:eggs}
       ipdb
extra-paths = ${zope2:location}/lib/python
defaults = ['-m', 'five.megrok.z3cform', '--tests-pattern', '^f?tests$', '-v']
