[buildout]
develop = .
          externals/z3c.menu.ready2go

parts = test checker coverage


[test]
recipe = zc.recipe.testrunner
eggs = zam.api [test]


[checker]
recipe = lovely.recipe:importchecker
path = src/zam/api


[coverage]
recipe = zc.recipe.egg
eggs = z3c.coverage
