a {
  color: black;
  text-decoration: none;
}

img#appicon {
  float: left;
  vertical-align: bottom;
  clear: both;
}

img.itemicon {
  vertical-align: bottom;
}

div.window {
  border: 2px #529CEC solid;
  margin: 10pt;
  padding: 0;
}

div.titlebar {
  background: #529CEC;
  padding: 3px;
  font-weight: bold;
  color: white;
  text-align: center;
}

div.menubar {
  background: #EEE;
  margin: 0;
  padding: 0px 0px 7px 1px;
}

ul {
  padding: 0; 
  margin: 0; 
  background: #EEE;
}

ul li {
  list-style-type: none;
  position: relative; 
  margin: 0; 
}

ul ul {
  display: none;
  width: 10em;
}

ul li:hover > ul {
  display: block; 
  position: absolute; 
  top: -1px; 
  left: 100%;
}

li a {
  display: block; 
  padding: 2px; 
  text-decoration: none;
}

ul.topmenu li > a {
  padding: 1px; 
}

ul.topmenu {
  width: 4em; /* Changes spacing between menus */
  float: left; /* allows all top menu entries to be aligned horizontally */
}

ul.topmenu ul {
  border: 1px solid #BBB;
}

ul.topmenu > li { /* properties of top menu items */
  bottom: -2px;
  border: 1px solid #EEE;
}


ul.topmenu > li:hover { /* properties of top menu items */
  border: 1px solid #BBB;
  background: #DDD;
}

ul > li:hover {
  background: #DDD;
}

ul.topmenu > li:hover > ul {
  width: 10em; 
  top: 1.5em; 
  left: -1px;
}

img.submenuhint {
  float: right;
  vertical-align: bottom;
}

ul.topmenu > li img.submenuhint {
  display: none; 
}