[buildout]
develop = /home/ctheune/Development/gocept.recipe.zope3instance/
parts = instance test
find-links = http://download.zope.org/distribution/

[database]
recipe = zc.recipe.filestorage

[instance]
recipe = gocept.zope3instance
database = database
admin-user = gandalf
admin-password = 123
eggs = zope.app
address = 127.0.0.1:8080

[test]
recipe = zc.recipe.testrunner
; XXX Need to specify that all eggs should be tested ...
eggs = zope.app
working-directory = parts/instance
defaults = ['--tests-pattern', '^f?tests$', '-v']
