[buildout]
parts = test zope
find-links = http://download.zope.org/distribution/
download_cache = ./packages/

[zope]
recipe = zope.classiczoperecipe
prefix = /usr/local/

[test]
recipe = zc.recipe.testrunner
eggs = zope.app
defaults = ['--tests-pattern', '^f?tests$', '-v', '-u']
