[buildout]
extends = versions.cfg
develop = .
parts = test
newest = false
versions = versions

[versions]
zc.resourcelibrary = 1.1.0

[test]
recipe = zc.recipe.testrunner
eggs = megrok.resourcelibrary
defaults = ['--tests-pattern', '^f?tests$', '-v']
