[buildout]
parts = test
find-links = http://download.zope.org/distribution/
newest = false
extends= http://grok.zope.org/releaseinfo/grok-0.12.cfg
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = grok
defaults = ['--tests-pattern', '^f?tests$', '-v']
