[buildout]
develop = .
parts = py config
extends = ldap.cfg
find-links = http://downloads.sourceforge.net/python-ldap/python-ldap-2.3.4.tar.gz?modtime=1206796934&big_mirror=0
index = http://download.zope.org/simple
versions = versions

[py]
recipe = zc.recipe.egg
interpreter = py
eggs =
     zc.zopeorgkeyupload
     zope.publisher
     zope.server
     PasteDeploy
     PasteScript
     python-ldap

[config]
recipe = zc.recipe.deployment:configuration
text =
  [app:main]
  use = egg:zope.publisher
  publication = egg:zc.zopeorgkeyupload
  host = ${ldap:host}
  port = ${ldap:port}
  base = ${ldap:base}
  keydir = ${buildout:directory}/keys

  [server:main]
  use = egg:zope.server
  host = 127.0.0.1
  port = 8080



[versions]
python-ldap = 2.3.4
