[buildout]
develop = .
parts = py config extra-eggs zdaemon
find-links = /opt/zaamdashboard/eggs
extends = /opt/zaamdashboard/zc.kgs/ztk/ztk.cfg
          /opt/zaamdashboard/zc.kgs/ztk/zopeapp.cfg
versions = versions

[versions]
ZODB3 = 3.10.2
transaction =
zope.testbrowser =
mechanize =

[define]
keydir = ${buildout:directory}/keys
port = 8082

[zdaemon]
recipe = zc.recipe.egg

[py]
recipe = zc.recipe.egg                                       
interpreter = py
unzip = true
eggs =
     zc.zopeorgkeyupload
     zope.publisher
     zope.server
     PasteDeploy
     PasteScript
     zc.zaam

[config]
recipe = zc.recipe.deployment:configuration
s =
text =
  [app:main]
  use = egg:zope.publisher
  publication = egg:zc.zopeorgkeyupload
  keydir = ${define:keydir}
  zeo = 8200

  [server:main]
  use = egg:zope.server
  host = 127.0.0.1
  port = ${define:port}

[extra-eggs]
recipe = zc.recipe.egg:eggs
eggs = 
  zc.recipe.rhrc
  zc.recipe.deployment
  zc.zdaemonrecipe
