[buildout]
develop = .
parts = py config extra-eggs zdaemon
relative-paths = true

[define]
keydir = ${buildout:directory}/keys
port = 8082

[py]
recipe = zc.recipe.egg                                       
interpreter = py
unzip = true
eggs =
     zc.zopeorgkeyupload
     zope.publisher
     zope.server
     PasteDeploy
     PasteScript
     zc.zaam

[config]
recipe = zc.recipe.deployment:configuration
s =
text =
  [app:main]
  use = egg:zope.publisher
  publication = egg:zc.zopeorgkeyupload
  keydir = ${define:keydir}
  zeo = 8200

  [server:main]
  use = egg:zope.server
  host = 127.0.0.1
  port = ${define:port}
