[buildout]
develop = .
          externals/z3c.batching
          externals/z3c.contents
          externals/z3c.jsonrpcproxy
          externals/z3c.jsontree
          externals/z3c.menu.ready2go
          externals/z3c.table
          externals/z3c.xmlhttp
          externals/zam.api
          externals/zam.skin
          externals/zamplugin.control
          externals/zamplugin.error
          externals/zamplugin.navigation
          externals/zamplugin.sampledata
          externals/zamplugin.sitemanager

parts = test

[test]
recipe = zc.recipe.testrunner
eggs = zam.locales [test]
