[buildout]
develop = .
parts = interpreter test
extends = versions.cfg
versions = versions

[versions]
zope.i18n = 3.5.0

[interpreter]
recipe = zc.recipe.egg
eggs = megrok.z3cpt
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = megrok.z3cpt
defaults = ['--tests-pattern', '^f?tests$', '-v']
