[buildout]
develop = .
parts = test
extends = http://grok.zope.org/releaseinfo/grok-1.0a3.cfg
versions = versions

[versions]
zope.app.testing = 3.4.1

[test]
recipe = zc.recipe.testrunner
eggs = megrok.datetimewidget [test]
