[buildout]
develop = . 
parts = test checker coverage

[test]
recipe = zc.recipe.testrunner
eggs = z3c.resource [test]

[checker]
recipe = lovely.recipe:importchecker
path = src/z3c/resource

[coverage]
recipe = zc.recipe.egg
eggs = z3c.coverage
