[buildout]
develop = .
parts = test py

[test]
recipe = zc.recipe.testrunner
eggs = zc.dict
defaults = ["-v", "-c"]

[py]
recipe = zc.recipe.egg
eggs = zc.dict
       setuptools
interpreter = py
scripts = py
