[buildout]
parts = py test
develop = .

[py]
recipe = zc.recipe.egg
eggs = zc.mirrorcheeseshopslashsimple
interpreter = py


[test]
recipe = zc.recipe.testrunner
eggs = zc.mirrorcheeseshopslashsimple
