[buildout]
parts = test-zopeapp depgraph
extensions = mr.developer
extends = 
   http://svn.zope.org/*checkout*/zopetoolkit/branches/faassen-smaller/ztk.cfg 
   zopeapp.cfg
versions = versions
allow-picked-versions = false

[versions]
tl.eggdeps = 0.4
z3c.recipe.compattest = 0.9
z3c.recipe.depgraph = 0.5
mr.developer = 1.7

[test-zopeapp]
recipe = z3c.recipe.compattest
include = ${zopeapp:packages}

[depgraph]
recipe = z3c.recipe.depgraph
eggs = ${zopeapp:packages}
extras = True
variants = base 
           scc
