[buildout]
parts = master
        projects
        poller
# Projects:
        ztk
        ztk-win-projects
        ztk-win-py2.4
        ztk-win-py2.5
        ztk-win-py2.6
        grok-trunk
        grok-trunk-win-projects
        grok-trunk-win-py2.4
        grok-trunk-win-py2.5
        grok-1.0
        grok-1.0-win-projects
        grok-1.0-win-py2.4
        grok-1.0-win-py2.5
#        grok-trunk-win-py2.6 ; Grok 1.0 doesn't run on py2.6
        zc.buildout-trunk
        zc.buildout-trunk-py2.4
        zc.buildout-trunk-py2.5
        zc.buildout-trunk-py2.6
        zc.buildout-trunk-win-projects
        zc.buildout-trunk-win-py2.4
        zc.buildout-trunk-win-py2.5
        zc.buildout-trunk-win-py2.6
        zope2-trunk
        grokdependencies-trunk
# Tools:
        omelette
        development_tools
versions = versions
extensions = buildout.dumppickedversions


[versions]
# Result of buildout.dumppickedversions
Paste = 1.7.2
PasteDeploy = 1.3.3
PasteScript = 1.7.3
Twisted = 8.2.0
buildbot = 0.7.11p3
collective.buildbot = 0.3.5
collective.recipe.omelette = 0.9
eazysvn = 1.11.0
manuel = 1.0.0
setuptools = 0.6c9
virtualenv = 1.3.3
zc.buildout = 1.4.1
zc.recipe.egg = 1.2.2
zc.recipe.macro = 1.3.0
zc.recipe.testrunner = 1.2.0
zest.releaser = 2.8
zope.exceptions = 3.5.2
zope.interface = 3.5.2
zope.testing = 3.8.1


[config]
host = localhost
port = 9050


[master]
recipe = collective.buildbot:master
port = ${config:port}
wport = 9080
url = http://${config:host}:${:wport}/
project-url = http://${config:host}:${:wport}/
allow-force = true
project-name = Zope Buildbot
slaves =
    slave-osx-py2.4 ${slave-osx-py2.4:password}
    slave-osx-py2.5 ${slave-osx-py2.5:password}
    slave-osx-py2.6 ${slave-osx-py2.6:password}
    slave-ubuntu32-py2.4 ${slave-ubuntu32-py2.4:password}
    slave-ubuntu32-py2.5 ${slave-ubuntu32-py2.5:password}
    slave-ubuntu32-py2.6 ${slave-ubuntu32-py2.6:password}
    slave-ubuntu64-py2.4 ${slave-ubuntu64-py2.4:password}
    slave-ubuntu64-py2.5 ${slave-ubuntu64-py2.5:password}
    slave-ubuntu64-py2.6 ${slave-ubuntu64-py2.6:password}
    slave-win-py2.4 ${slave-win-py2.4:password}
    slave-win-py2.5 ${slave-win-py2.5:password}
    slave-win-py2.6 ${slave-win-py2.6:password} 


# Not using zc.recipe.macro here because we want to override the slave
# passwords in a deploy.cfg.
[slave-osx-py2.4]
recipe = collective.buildbot:slave
host = ${config:host}
port = ${config:port}
password = XXX


[slave-osx-py2.5]
recipe = collective.buildbot:slave
host = ${config:host}
port = ${config:port}
password = XXX


[slave-osx-py2.6]
recipe = collective.buildbot:slave
host = ${config:host}
port = ${config:port}
password = XXX


[slave-ubuntu32-py2.4]
recipe = collective.buildbot:slave
host = ${config:host}
port = ${config:port}
password = XXX


[slave-ubuntu32-py2.5]
recipe = collective.buildbot:slave
host = ${config:host}
port = ${config:port}
password = XXX


[slave-ubuntu32-py2.6]
recipe = collective.buildbot:slave
host = ${config:host}
port = ${config:port}
password = XXX


[slave-ubuntu64-py2.4]
recipe = collective.buildbot:slave
host = ${config:host}
port = ${config:port}
password = XXX


[slave-ubuntu64-py2.5]
recipe = collective.buildbot:slave
host = ${config:host}
port = ${config:port}
password = XXX


[slave-ubuntu64-py2.6]
recipe = collective.buildbot:slave
host = ${config:host}
port = ${config:port}
password = XXX


[slave-win-py2.4]
password = XXX
version_minor = 4
python-path = C:\Python24\python
bootstrap-path= C:\projects\bootstrap.py


[slave-win-py2.5]
password = XXX
version_minor = 5
python-path = C:\Python25\python
bootstrap-path= C:\projects\bootstrap.py


[slave-win-py2.6]
password = XXX
version_minor = 6
python-path = C:\Python26\python
bootstrap-path= C:\projects\bootstrap.py


[poller]
recipe = collective.buildbot:poller
repositories = http://svn.zope.org/repos/main
poll-interval = 3600


[project-macro]
repositories = $${:repositories}
slave-names = $${:slaves}
vcs-mode = clobber
mail-host = localhost
email-notification-sender = no-reply@localhost
email-notification-recipients = root@localhost
cron-scheduler = $${:cron-scheduler}
build-sequence = 
    $${:bootstrap-sequence}
    $${:buildout-sequence}
test-sequence = 
    $${:test-sequence}
# sensible defaults
bootstrap-sequence = 
    curl -o bootstrap.py http://svn.zope.org/*checkout*/zc.buildout/trunk/bootstrap/bootstrap.py 
    python bootstrap.py
buildout-sequence = 
    bin/buildout -vvv
slaves = slave-osx-py2.4
         slave-osx-py2.5
         slave-osx-py2.6
         slave-ubuntu32-py2.4
         slave-ubuntu32-py2.5
         slave-ubuntu32-py2.6
         slave-ubuntu64-py2.4
         slave-ubuntu64-py2.5
         slave-ubuntu64-py2.6


[projects]
# projects are defined by their build and test sequence.
recipe = zc.recipe.macro
result-recipe = collective.buildbot:project
macro = project-macro
targets = ztk:ztk-parameters
          grok-trunk:grok-trunk-parameters
          grok-1.0:grok-1.0-parameters
          zope2-trunk:zope2-trunk-parameters
          grokdependencies-trunk:grokdependencies-trunk-parameters


[grokdependencies-trunk-parameters]
repositories = 
    http://svn.zope.org/repos/main/grokcore.annotation/trunk
    http://svn.zope.org/repos/main/grokcore.component/trunk
    http://svn.zope.org/repos/main/grokcore.component/branches/1.7
    http://svn.zope.org/repos/main/grokcore.formlib/trunk
    http://svn.zope.org/repos/main/grokcore.security/trunk
    http://svn.zope.org/repos/main/grokcore.security/branches/1.2
    http://svn.zope.org/repos/main/grokcore.site/trunk
    http://svn.zope.org/repos/main/grokcore.startup/trunk
    http://svn.zope.org/repos/main/grokcore.view/trunk
    http://svn.zope.org/repos/main/grokcore.view/branches/1.12
    http://svn.zope.org/repos/main/grokcore.viewlet/trunk
    http://svn.zope.org/repos/main/grokui.admin/trunk
    http://svn.zope.org/repos/main/martian/trunk
    http://svn.zope.org/repos/main/martian/branches/0.11
    http://svn.zope.org/repos/main/grokproject/trunk
    http://svn.zope.org/repos/main/grokui.introspector/trunk
cron-scheduler = 2 5 * * *
test-sequence = bin/test
slaves = slave-ubuntu64-py2.4
         slave-ubuntu64-py2.5
#         slave-ubuntu64-py2.6 ; Grok 1.0 doesn't run on py2.6


[ztk-parameters]
repositories = 
    http://svn.zope.org/repos/main/zopetoolkit/trunk
cron-scheduler = 5 5 * * *
test-sequence = bin/test-ztk


[zope2-trunk-parameters]
repositories = 
    http://svn.zope.org/repos/main/Zope/trunk
cron-scheduler = 3 10 * * *
bootstrap-sequence = python bootstrap.py
buildout-sequence = bin/buildout -vvv
test-sequence = bin/alltests


[ztk-win-macro]
repositories =
    ${ztk-parameters:repositories}
slave-names = slave-win-py2.$${:version_minor}
sss-mode = ${project-macro:vcs-mode}
mail-host = ${project-macro:mail-host}
email-notification-sender = ${project-macro:email-notification-sender}
email-notification-recipients = ${project-macro:email-notification-recipients}
cron-scheduler = 1 1 * * *
build-sequence =
    $${:python-path} $${:bootstrap-path}
    bin\buildout -vvv
test-sequence =
    bin\test-ztk


[ztk-win-projects]
recipe = zc.recipe.macro
result-recipe = collective.buildbot:project
macro = ztk-win-macro
targets = ztk-win-py2.4:slave-win-py2.4
          ztk-win-py2.5:slave-win-py2.5
          ztk-win-py2.6:slave-win-py2.6


[grok-trunk-parameters]
repositories =
    http://svn.zope.org/repos/main/grok/trunk
cron-scheduler = 2 2 * * *
test-sequence =
    bin/test-grokcore
slaves = slave-osx-py2.4
         slave-osx-py2.5
         slave-ubuntu32-py2.4
         slave-ubuntu32-py2.5
         slave-ubuntu64-py2.4
         slave-ubuntu64-py2.5


[grok-trunk-win-macro]
repositories =
    ${grok-trunk-parameters:repositories}
slave-names = slave-win-py2.$${:version_minor}
vcs-mode = ${project-macro:vcs-mode}
mail-host = ${project-macro:mail-host}
email-notification-sender = ${project-macro:email-notification-sender}
email-notification-recipients = ${project-macro:email-notification-recipients}
cron-scheduler = 3 3 * * *
build-sequence =
    $${:python-path} bootstrap\bootstrap.py
    bin\buildout -vvv
test-sequence =
    bin\test-grokcore


[grok-trunk-win-projects]
recipe = zc.recipe.macro
result-recipe = collective.buildbot:project
macro = grok-trunk-win-macro
targets = grok-trunk-win-py2.4:slave-win-py2.4
          grok-trunk-win-py2.5:slave-win-py2.5
          grok-trunk-win-py2.6:slave-win-py2.6


[grok-1.0-parameters]
repositories =
    http://svn.zope.org/repos/main/grok/branches/1.0
cron-scheduler = 2 2 * * *
test-sequence =
    bin/test-grokcore
slaves = slave-osx-py2.4
         slave-osx-py2.5
         slave-ubuntu32-py2.4
         slave-ubuntu32-py2.5
         slave-ubuntu64-py2.4
         slave-ubuntu64-py2.5


[grok-1.0-win-macro]
repositories =
    ${grok-1.0-parameters:repositories}
slave-names = slave-win-py2.$${:version_minor}
vcs-mode = ${project-macro:vcs-mode}
mail-host = ${project-macro:mail-host}
email-notification-sender = ${project-macro:email-notification-sender}
email-notification-recipients = ${project-macro:email-notification-recipients}
cron-scheduler = 3 3 * * *
build-sequence =
    $${:python-path} bootstrap\bootstrap.py
    bin\buildout -vvv
test-sequence =
    bin\test-grokcore


[grok-1.0-win-projects]
recipe = zc.recipe.macro
result-recipe = collective.buildbot:project
macro = grok-1.0-win-macro
targets = grok-1.0-win-py2.4:slave-win-py2.4
          grok-1.0-win-py2.5:slave-win-py2.5


[zc.buildout-trunk-macro]
repositories = 
    http://svn.zope.org/repos/main/zc.buildout/trunk
slave-names = slave-osx-py2.$${:version_minor}
              slave-ubuntu32-py2.$${:version_minor}
              slave-ubuntu64-py2.$${:version_minor}
vcs-mode = ${project-macro:vcs-mode}
mail-host = ${project-macro:mail-host}
email-notification-sender = ${project-macro:email-notification-sender}
email-notification-recipients = ${project-macro:email-notification-recipients}
cron-scheduler = 2 2 * * *
build-sequence = 
    python dev.py
test-sequence = 
    bin/test


[zc.buildout-trunk]
recipe = zc.recipe.macro
result-recipe = collective.buildbot:project
macro = zc.buildout-trunk-macro
targets = zc.buildout-trunk-py2.4:python2.4
          zc.buildout-trunk-py2.5:python2.5
          zc.buildout-trunk-py2.6:python2.6


[python2.4]
version_minor = 4


[python2.5]
version_minor = 5


[python2.6]
version_minor = 6


[zc.buildout-trunk-win-macro]
repositories =
    ${zc.buildout-trunk-macro:repositories}
slave-names = slave-win-py2.$${:version_minor}
vcs-mode = ${project-macro:vcs-mode}
mail-host = ${project-macro:mail-host}
email-notification-sender = ${project-macro:email-notification-sender}
email-notification-recipients = ${project-macro:email-notification-recipients}
cron-scheduler = 3 3 * * *
build-sequence =
    $${:python-path} dev.py
test-sequence =
    bin\test


[zc.buildout-trunk-win-projects]
recipe = zc.recipe.macro
result-recipe = collective.buildbot:project
macro = zc.buildout-trunk-win-macro
targets = zc.buildout-trunk-win-py2.4:slave-win-py2.4
          zc.buildout-trunk-win-py2.5:slave-win-py2.5
          zc.buildout-trunk-win-py2.6:slave-win-py2.6


[omelette]
recipe = collective.recipe.omelette
eggs = collective.buildbot


[development_tools]
recipe = zc.recipe.egg
eggs = zest.releaser
       eazysvn
