[buildout]
parts = master
        ${py2.5:result-sections}
        ${win-py2.5:result-sections}
        ${py2.6:result-sections}
        ${win-py2.6:result-sections}
        ${py2.7:result-sections}
        ${win-py2.7:result-sections}
        poller
        slaves
        reboot-slaves
versions = versions
extensions = mr.developer
auto-checkout = collective.buildbot
always-checkout = true
allow-picked-versions = false

[sources]
collective.buildbot = svn http://svn.plone.org/svn/collective/collective.buildbot/trunk

[versions]
argparse = 1.1
buildbot = 0.7.12
distribute = 0.6.14
manuel = 1.3.0
mr.developer = 1.16
Paste = 1.7.5.1
PasteDeploy = 1.3.4
PasteScript = 1.7.3
Twisted = 10.1.0
virtualenv = 1.5.1
z3c.recipe.scripts = 1.0.1
z3c.recipe.usercrontab = 1.0
zc.buildout = 1.5.1
zc.recipe.egg = 1.3.2
zc.recipe.macro = 1.3.0
zc.recipe.testrunner = 1.4.0
zope.exceptions = 3.6.1
zope.interface = 3.6.1
zope.testing = 3.10.0
zope.testrunner = 4.0.0b5

[master]
recipe = collective.buildbot:master
project-name = Zope Buildbot
max-builds = 1
allow-force = true
slaves =
    slave-ubuntu32 secret
    slave-ubuntu64 secret
    slave-osx secret
    slave-win secret

[slaves]
recipe = zc.recipe.macro
result-recipe = collective.buildbot:slave
macro = slave-macro
targets = slave-ubuntu32
          slave-ubuntu64
          slave-osx
          slave-win

[slave-macro]
host = localhost
port = 8999
password = secret

[poller]
recipe = collective.buildbot:poller
repositories = http://svn.zope.org/repos/main
poll-interval = 3600

[project-macro]
slave-names = $${:slaves}
vcs = svn
repositories = $${:repos}
mail-host = localhost
email-notification-sender = no-reply@localhost
email-notification-recipients = $${:mailto}
mail-mode = $${:mailmode}
build-sequence =
    $${:bootstrap}
    $${:buildout}
test-sequence = $${:test}
periodic-scheduler = 1440
email-zope-test-style = True
# sensible defaults
test = bin/test --all
buildout = bin/buildout -v
mailmode = failing
mailto = root@localhost
bootstrap = python bootstrap.py
slaves = slave-ubuntu32
         slave-ubuntu64
         slave-osx

[project-macro-py2.5]
<= project-macro
bootstrap = python2.5 bootstrap.py

[project-macro-py2.6]
<= project-macro
bootstrap = python2.6 bootstrap.py

[project-macro-py2.7]
<= project-macro
bootstrap = python2.7 bootstrap.py

[project-macro-win-py2.5]
<= project-macro
slaves = slave-win
bootstrap = C:\projects\virtualenv-2.5\Scripts\python bootstrap.py
buildout = bin\buildout -v
test = bin\test --all

[project-macro-win-py2.6]
<= project-macro
slaves = slave-win
bootstrap = C:\projects\virtualenv-2.6\Scripts\python bootstrap.py
buildout = bin\buildout -v
test = bin\test --all

[project-macro-win-py2.7]
<= project-macro
slaves = slave-win
bootstrap = C:\projects\virtualenv-2.7\Scripts\python bootstrap.py
buildout = bin\buildout -v
test = bin\test --all

[py2.5]
recipe = zc.recipe.macro
result-recipe = collective.buildbot:project
macro = project-macro-py2.5
targets = trunks-py2.5:trunks_parameters
          ztk-py2.5:ztk_parameters
          ztk-1.0-py2.5:ztk-1.0_parameters
          groktoolkit-py2.5:groktoolkit_parameters
          zope2-py2.5:zope2_parameters
          zope2.12-py2.5:zope2.12_parameters

[win-py2.5]
recipe = zc.recipe.macro
result-recipe = collective.buildbot:project
macro = project-macro-win-py2.5
targets = trunks-win-py2.5:trunks_parameters-win
          ztk_win-py2.5:ztk_parameters-win
          ztk-1.0_win-py2.5:ztk-1.0_parameters-win
          groktoolkit_win-py2.5:groktoolkit_parameters-win

[py2.6]
recipe = zc.recipe.macro
result-recipe = collective.buildbot:project
macro = project-macro-py2.6
targets = trunks-py2.6:trunks_parameters
          ztk-py2.6:ztk_parameters
          ztk-1.0-py2.6:ztk-1.0_parameters
          groktoolkit-py2.6:groktoolkit_parameters
          zope2-py2.6:zope2_parameters
          zope2.12-py2.6:zope2.12_parameters

[win-py2.6]
recipe = zc.recipe.macro
result-recipe = collective.buildbot:project
macro = project-macro-win-py2.6
targets = trunks-win-py2.6:trunks_parameters-win
          ztk_win-py2.6:ztk_parameters-win
          ztk-1.0_win-py2.6:ztk-1.0_parameters-win
          groktoolkit_win-py2.6:groktoolkit_parameters-win

[py2.7]
recipe = zc.recipe.macro
result-recipe = collective.buildbot:project
macro = project-macro-py2.7
targets = trunks-py2.7:trunks_parameters
          ztk-py2.7:ztk_parameters
          groktoolkit-py2.7:groktoolkit_parameters
          zope2-py2.7:zope2_parameters

[win-py2.7]
recipe = zc.recipe.macro
result-recipe = collective.buildbot:project
macro = project-macro-win-py2.7
targets = trunks-win-py2.7:trunks_parameters-win
          ztk_win-py2.7:ztk_parameters-win
          groktoolkit_win-py2.7:groktoolkit_parameters-win

[trunk_repos]
repos =
    http://svn.zope.org/repos/main/grokcore.annotation/trunk
    http://svn.zope.org/repos/main/grokcore.component/branches/1.x
    http://svn.zope.org/repos/main/grokcore.component/trunk
    http://svn.zope.org/repos/main/grokcore.content/trunk
    http://svn.zope.org/repos/main/grokcore.formlib/trunk
    http://svn.zope.org/repos/main/grokcore.message/trunk
    http://svn.zope.org/repos/main/grokcore.security/branches/1.2
    http://svn.zope.org/repos/main/grokcore.security/trunk
    http://svn.zope.org/repos/main/grokcore.site/trunk
    http://svn.zope.org/repos/main/grokcore.startup/trunk
    http://svn.zope.org/repos/main/grokcore.view/branches/1.13
    http://svn.zope.org/repos/main/grokcore.viewlet/trunk
    http://svn.zope.org/repos/main/grokcore.view/trunk
    http://svn.zope.org/repos/main/grokproject/trunk
    http://svn.zope.org/repos/main/grok/trunk
    http://svn.zope.org/repos/main/grokui.admin/trunk
    http://svn.zope.org/repos/main/grokui.base/trunk
    http://svn.zope.org/repos/main/martian/branches/0.11
    http://svn.zope.org/repos/main/martian/trunk
    http://svn.zope.org/repos/main/megrok.strictrequire/trunk
    http://svn.zope.org/repos/main/z3c.autoinclude/trunk
    http://svn.zope.org/repos/main/z3c.flashmessage/trunk
    http://svn.zope.org/repos/main/z3c.recipe.compattest/trunk
    http://svn.zope.org/repos/main/zc.catalog/trunk
    http://svn.zope.org/repos/main/zope.annotation/trunk
    http://svn.zope.org/repos/main/zope.applicationcontrol/trunk
    http://svn.zope.org/repos/main/zope.authentication/trunk
    http://svn.zope.org/repos/main/zope.browsermenu/trunk
    http://svn.zope.org/repos/main/zope.browserpage/trunk
    http://svn.zope.org/repos/main/zope.browserresource/trunk
    http://svn.zope.org/repos/main/zope.browser/trunk
    http://svn.zope.org/repos/main/zope.cachedescriptors/trunk
    http://svn.zope.org/repos/main/zope.catalog/trunk
    http://svn.zope.org/repos/main/zope.component/trunk
    http://svn.zope.org/repos/main/zope.componentvocabulary/trunk
    http://svn.zope.org/repos/main/zope.configuration/trunk
    http://svn.zope.org/repos/main/zope.contentprovider/trunk
    http://svn.zope.org/repos/main/zope.contenttype/trunk
    http://svn.zope.org/repos/main/zope.copypastemove/trunk
    http://svn.zope.org/repos/main/zope.copy/trunk
    http://svn.zope.org/repos/main/zope.datetime/trunk
    http://svn.zope.org/repos/main/zope.deferredimport/trunk
    http://svn.zope.org/repos/main/zope.deprecation/trunk
    http://svn.zope.org/repos/main/zope.dottedname/trunk
    http://svn.zope.org/repos/main/zope.dublincore/trunk
    http://svn.zope.org/repos/main/zope.error/trunk
    http://svn.zope.org/repos/main/zope.event/trunk
    http://svn.zope.org/repos/main/zope.exceptions/trunk
    http://svn.zope.org/repos/main/zope.filerepresentation/trunk
    http://svn.zope.org/repos/main/zope.formlib/trunk
    http://svn.zope.org/repos/main/zope.i18n/trunk
    http://svn.zope.org/repos/main/zope.intid/trunk
    http://svn.zope.org/repos/main/zope.keyreference/trunk
    http://svn.zope.org/repos/main/zope.lifecycleevent/trunk
    http://svn.zope.org/repos/main/zope.location/trunk
    http://svn.zope.org/repos/main/zope.login/trunk
    http://svn.zope.org/repos/main/zope.mimetype/trunk
    http://svn.zope.org/repos/main/zope.minmax/trunk
    http://svn.zope.org/repos/main/zope.pagetemplate/trunk
    http://svn.zope.org/repos/main/zope.password/trunk
    http://svn.zope.org/repos/main/zope.pluggableauth/trunk
    http://svn.zope.org/repos/main/zope.principalannotation/trunk
    http://svn.zope.org/repos/main/zope.principalregistry/trunk
    http://svn.zope.org/repos/main/zope.processlifetime/trunk
    http://svn.zope.org/repos/main/zope.ptresource/trunk
    http://svn.zope.org/repos/main/zope.publisher/trunk
    http://svn.zope.org/repos/main/zope.ramcache/trunk
    http://svn.zope.org/repos/main/zope.schema/trunk
    http://svn.zope.org/repos/main/zope.securitypolicy/trunk
    http://svn.zope.org/repos/main/zope.sendmail/trunk
    http://svn.zope.org/repos/main/zope.sequencesort/trunk
    http://svn.zope.org/repos/main/zope.server/trunk
    http://svn.zope.org/repos/main/zope.session/trunk
    http://svn.zope.org/repos/main/zope.site/trunk
    http://svn.zope.org/repos/main/zope.size/trunk
    http://svn.zope.org/repos/main/zope.structuredtext/trunk
    http://svn.zope.org/repos/main/zope.tales/trunk
    http://svn.zope.org/repos/main/zope.tal/trunk
    http://svn.zope.org/repos/main/zope.testing/trunk
    http://svn.zope.org/repos/main/zope.testrunner/trunk
    http://svn.zope.org/repos/main/zope.traversing/trunk
    http://svn.zope.org/repos/main/zope.viewlet/trunk

# Don't test crontab or C-extensions on windows.
[trunks_parameters]
repos = ${trunk_repos:repos}
        http://svn.zope.org/repos/main/z3c.recipe.usercrontab/trunk
        http://svn.zope.org/repos/main/zope.container/trunk
        http://svn.zope.org/repos/main/zope.hookable/trunk
        http://svn.zope.org/repos/main/zope.i18nmessageid/trunk
        http://svn.zope.org/repos/main/zope.index/trunk
        http://svn.zope.org/repos/main/zope.interface/trunk
        http://svn.zope.org/repos/main/zope.proxy/trunk
        http://svn.zope.org/repos/main/zope.security/trunk

[trunks_parameters-win]
repos = ${trunk_repos:repos}

[ztk_parameters]
repos = http://svn.zope.org/repos/main/zopetoolkit/trunk
test = bin/test-ztk
       bin/test-zopeapp
buildout = bin/buildout -v
mailto = zope-tests@zope.org
mailmode = all

[ztk_parameters-win]
repos = ${ztk_parameters:repos}
test = bin\test-ztk
       bin\test-zopeapp
buildout = bin\buildout -v
mailto = zope-tests@zope.org
mailmode = all

[ztk-1.0_parameters]
repos = http://svn.zope.org/repos/main/zopetoolkit/branches/1.0
test = bin/test-ztk
       bin/test-zopeapp
buildout = bin/buildout -v
mailto = zope-tests@zope.org
mailmode = all

[ztk-1.0_parameters-win]
repos = ${ztk-1.0_parameters:repos}
test = bin\test-ztk
       bin\test-zopeapp
buildout = bin\buildout -v
mailto = zope-tests@zope.org
mailmode = all

[groktoolkit_parameters]
repos = http://svn.zope.org/repos/main/groktoolkit/trunk
test = bin/test-grok

[groktoolkit_parameters-win]
repos = ${groktoolkit_parameters:repos}
test = bin\test-grok

[zope2_parameters]
repos = http://svn.zope.org/repos/main/Zope/trunk
test = bin/alltests
mailto = zope-tests@zope.org
mailmode = all

[zope2_parameters-win]
repos = http://svn.zope.org/repos/main/Zope/trunk
test = bin\alltests
mailto = zope-tests@zope.org
mailmode = all

[zope2.12_parameters]
repos = http://svn.zope.org/repos/main/Zope/branches/2.12
test = bin/alltests
mailto = zope-tests@zope.org
mailmode = all

[zope2.12_parameters-win]
repos = http://svn.zope.org/repos/main/Zope/branches/2.12
test = bin\alltests
mailto = zope-tests@zope.org
mailmode = all

[reboot-slave-macro]
times = @reboot
command = ${buildout:bin-directory}/slave-$${:__name__} start

[reboot-slaves]
recipe = zc.recipe.macro
result-recipe = z3c.recipe.usercrontab
macro = reboot-slave-macro
targets = ubuntu32
          ubuntu64

[reboot-master]
recipe = z3c.recipe.usercrontab
times = @reboot
command = ${buildout:bin-directory}/master start

