[buildout]
develop =  .
parts = test py
find-links = http://download.zope.org/distribution/

[test]
recipe = zc.recipe.testrunner
defaults = ['--tests-pattern','[fn]?tests$','--exit-with-status']
working-directory = ${buildout:directory}/src/zc/comment
eggs = zc.comment [test]

[py]
recipe = zc.recipe.egg
interpreter = py
eggs = zc.comment [test]
