[buildout]
parts = test
develop = .
find-links = http://download.zope.org/distribution
versions = versions

[versions]
SQLAlchemy = 0.4.1

[test]
recipe = zc.recipe.testrunner
eggs = z3c.zalchemy [test]

