# CMF 2.2 branch + Zope 2.13 trunk

[buildout]
extends = src/Zope2/versions.cfg
versions = versions
parts =
    zope2
    instance
    zopepy
    test
eggs =
    Zope2
    Products.CMFCalendar
    Products.CMFCore [test]
    Products.CMFDefault
    Products.CMFTopic
    Products.CMFUid
    Products.DCWorkflow
    Products.GenericSetup
    five.localsitemanager
develop =
    src/Zope2
    src/Products.CMFCalendar
    src/Products.CMFCore
    src/Products.CMFDefault
    src/Products.CMFTopic
    src/Products.CMFUid
    src/Products.DCWorkflow
    src/Products.GenericSetup
    src/five.localsitemanager

[versions]
five.formlib = 1.0.3
plone.recipe.zope2instance = 4.0.0
zope.formlib = 3.10.0
zope.app.form = 3.12.1

[zope2]
recipe = zc.recipe.egg
eggs = Zope2

[instance]
recipe = plone.recipe.zope2instance
eggs = ${buildout:eggs}
user = admin:admin
verbose-security = on
http-address = 127.0.0.1:8080

[zopepy]
recipe = zc.recipe.egg
eggs = ${buildout:eggs}
interpreter = zopepy
scripts = zopepy

[test]
recipe = zc.recipe.testrunner
eggs = ${buildout:eggs}
defaults = ['--module', '^Products[.](CMF|DC|GenericSetup)|^five[.]']
