[buildout]
develop = . externals/ZODB
parts = zodbscripts test zeo1 zeo2 zeoraid1 zeoraid2
find-links = http://download.zope.org/distribution/

[test]
recipe = zc.recipe.testrunner
eggs = gocept.zeoraid
defaults = ['-vv', '--all']
# Some demo parts

[storage1]
recipe = zc.recipe.filestorage

[zeo1]
recipe = zc.zodbrecipes:server
zeo.conf = 
    <zeo>
    address 8101
    </zeo>
    <filestorage 1>
    path ${storage1:path}
    </filestorage>

[storage2]
recipe = zc.recipe.filestorage

[zeo2]
recipe = zc.zodbrecipes:server
zeo.conf = 
    <zeo>
    address 8102
    </zeo>
    <filestorage 1>
    path ${storage2:path}
    </filestorage>

[zeoraid1]
recipe = gocept.zeoraid:server
zeo.conf =
    <zeo>
    address 127.0.0.1:8100
    </zeo>
    %import gocept.zeoraid
    <raidstorage main>
        <zeoclient 1>
            server localhost:8101
            storage 1
        </zeoclient>
        <zeoclient 2>
            server localhost:8102
            storage 1
        </zeoclient>
    </raidstorage>

[zeoraid2]
recipe = gocept.zeoraid:server
zeo.conf =
    <zeo>
    address 127.0.0.1:8103
    </zeo>
    %import gocept.zeoraid
    <raidstorage main>
        <zeoclient 1>
            server localhost:8101
            storage 1
        </zeoclient>
        <zeoclient 2>
            server localhost:8102
            storage 1
        </zeoclient>
    </raidstorage>

[zodbscripts]
recipe = zc.recipe.egg:scripts
interpreter = py
eggs = ZODB3
       gocept.zeoraid
