# Packaging information for zpkg.

header proxy.h

# Ugh!  This is needed by ../app/container/_zope_app_container_contained.c
header _zope_proxy_proxy.c


<extension _zope_proxy_proxy>
  source      _zope_proxy_proxy.c
  depends-on  proxy.h
</extension>
