[buildout]
develop = .
parts = zwikiapp instance test py
extends = versions.cfg
versions = versions

[zope3]
location =

[zwikiapp]
recipe = zc.zope3recipes:app
site.zcml = <include package="zwiki" file="application.zcml" />
eggs = zwiki

[instance]
recipe = zc.zope3recipes:instance
application = zwikiapp
zope.conf = ${database:zconfig}

[database]
recipe = zc.recipe.filestorage

[test]
recipe = zc.recipe.testrunner
eggs = zwiki [test]

[py]
recipe = zc.recipe.egg
eggs = zwiki
interpreter = python
