<configure
    xmlns:zope="http://namespaces.zope.org/zope"
    xmlns="http://namespaces.zope.org/browser"
    i18n_domain="zope">

  <!-- This is only a sample configure.zcml file
       See README.txt in zope.app.skintools for more 
       information about the skintools concept.
       --> 

  <!-- pagelet defining the box data -->
  <pagelet
      name="zmicookietreebox"
      for="*"
      slot="the slot used in your skin"
      permission="zope.View"
      template="zmicookietreebox.pt"
      layer="the layer of your skin"
      weight="0"
      />

  <!-- pagelet defining the layout -->
  <pagelet
      name="zmicookietreebox_layout"
      for="*"
      slot="zope.app.skintools.zmicookietreebox.IZMICookieTreeBoxLayout"
      permission="zope.ManageContent"
      template="zmicookietreebox_layout.pt"
      />

  <!-- register this view if you don't inherit your skin from zope.app.tree -->
  <configure package="zope.app.tree.browser">
    <pages
        for="*"
        class=".cookie.CookieTreeView"
        permission="zope.View"
        layer="the layer of your skin"
        >
      <page
          name="cookie_tree"
          attribute="cookieTree"
          />
      <page
          name="folder_cookie_tree"
          attribute="folderTree"
          />
      <page
          name="site_cookie_tree"
          attribute="siteTree"
          />
      <page
          name="root_cookie_tree"
          attribute="rootTree"
          />
    </pages>
  </configure>

</configure>
