[buildout]
develop = .
parts = demo test zsync

[zope3]
location = .

[demo]
recipe = zc.zope3recipes:instance
application = zsync-demo-app
zope.conf = ${database:zconfig}

[test]
recipe = zc.recipe.testrunner
eggs = zope.app.fssync
defaults = ['--tests-pattern', '^f?tests$', '-v']

[zsync-demo-app]
recipe = zc.zope3recipes:app
site.zcml = <include package="zope.app.fssync" file="application.zcml"/>
eggs = zope.app.fssync [app]

[zsync]
recipe = zc.recipe.egg
eggs = zope.app.fssync
entry-points = zsync=zope.app.fssync.main:main

[database]
recipe = zc.recipe.filestorage
