[buildout]
develop = .
parts = test app graph

[test]
recipe = zc.recipe.testrunner
eggs = z3c.bobopublisher [test]

[app]
recipe = zc.recipe.egg
eggs = z3c.bobopublisher
       Paste
       PasteScript
       PasteDeploy
interpreter = python

[graph]
recipe = z3c.recipe.depgraph
eggs = z3c.bobopublisher
variants = tred
