[buildout]
develop = .
parts = test
find-links = http://download.zope.org/distribution/
newest = false

[test]
recipe = zc.recipe.testrunner
eggs = grokui.quickstart
defaults = ['--tests-pattern', '^f?tests$', '-v']
