[buildout]
extends = http://grok.zope.org/releaseinfo/1.2/versions.cfg
develop = .
parts = test
versions = versions
extensions = mr.developer
auto-checkout = zope.app.wsgi
                hurry.resource
sources-dir = develop

[sources]
zope.app.wsgi = svn svn+ssh://svn.zope.org/repos/main/zope.app.wsgi/trunk
hurry.resource = svn svn+ssh://svn.zope.org/repos/main/hurry.resource/branches/janjaapdriessen-resource-publisher

[versions]

[test]
recipe = zc.recipe.testrunner
eggs = hurry.zoperesource[test]
