[pastescript]
# python2.4 /usr/bin/paster create -t recipe --config=paste.cfg --svn-repository=svn+ssh://rossp@svn.zope.org/repos/main z3c.recipe.subprocess &
namespace_package = z3c
namespace_package2 = recipe
egg = z3c.recipe.subprocess
url = http://cheeseshop.python.org/pypi/z3c.recipe.subprocess
description = Generate buildout scripts for starting and stopping processes
author = Ross Patterson
author_email = me@rpatterson.net
license_name = GPL
version = 0.1
plus = +
zip_safe = False
keywords = 
long_description = 
dot = .
