[buildout]
develop = .
parts = py dojo-spidermonkey test
find-links = http://www.riversnake.com/dists

[test]
recipe = zc.recipe.testrunner
eggs = zc.dozodb [test]
initialization =
   import zc.dozodb.tests
   zc.dozodb.tests.baseUrl = (
     '${buildout:parts-directory}/dojo-spidermonkey/dojo/')


[py]
recipe = zc.recipe.egg
eggs =
  ZODB3
  bobo
  zc.dozodb
  python-spidermonkey

interpreter = py
initialization =
   sys.path.insert(0, "${buildout:directory}")
   import zc.dozodb
   zc.dozodb.dojoroot = "${buildout:parts-directory}/dojo"

[dojo]
recipe = gocept.download
url =
  http://download.dojotoolkit.org/release-1.5.0/dojo-release-1.5.0-src.tar.gz
strip-top-level-dir = true
md5sum = 7aaa2ea07d5295c2d7822c98e0085a34

[dojo-spidermonkey]
recipe = cp.recipe.cmd
install_cmd =
  cd ${dojo:location}/util/buildscripts
  cp ${buildout:directory}/spidermonkey.profile.js profiles/
  sh build.sh profile=spidermonkey action=release \
     releaseName=${:_buildout_section_name_} \
     releaseDir=${buildout:parts-directory}
#update_cmd = ${:install_cmd}
  


[testjs]
recipe = collective.recipe.scriptgen
cmd = rhino
dojo = ${buildout:parts-directory}/dojo
doh = ${:dojo}/util/doh
baseargs = ${:doh}/runner.js dohBase=${:doh} dojoUrl=${:dojo}/dojo/dojo.js
arguments =
   ${:baseargs}
   testModule=zc.dozodb.tests
   testUrl=${buildout:directory}/src/zc/dozodb/tests.js
