[buildout]
develop = .
parts = test
extends = http://grok.zope.org/releaseinfo/1.1.1/versions.cfg
versions = versions

[test]
recipe = zc.recipe.testrunner
eggs = megrok.traject
defaults = ['--tests-pattern', '^f?tests$', '-v']
