[buildout]
develop = .
parts = test
extends = http://grok.zope.org/releaseinfo/grok-0.10.2.cfg

[test]
recipe = zc.recipe.testrunner
eggs = mars.contentprovider [test]
defaults = ['--tests-pattern', '^f?tests$',
	'-v'
	]

