/*
** Customisations for the Site Management view (usage="siteobjectview")
*/

#actions {
    background: #963;
    border-left: 1px solid #963;
    border-right: 1px solid #963;
}

#actions a {
	color: White;
	border-left: 1px dashed white;
}

#actions a:hover {
	color: black;
	background-color: White;
}

#breadcrumbs {
    border-bottom: 1px solid #963;
}

.itemViews {
    border-bottom: 1px solid #963;
}

.itemViews a {
    border: 1px solid #963;
}

.itemViews a.selected {
    background: #963;
    border-bottom: #963 1px solid;
}

.itemViews a:hover {
    background-color: #963;
    color: White;
}
