[buildout]
develop = . src/zope.introspector
parts = app test
find-links = http://download.zope.org/distribution/
newest = false
# eggs will be installed in the default buildout location
# (see ~/.buildout/default.cfg)

[app]
recipe = zc.recipe.egg
eggs = introspector.zope3
       zope.introspector
       zope.app.apidoc
       zope.app.securitypolicy
       z3c.evalexception>=2.0
       Paste
       PasteScript
       PasteDeploy
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = zope.introspector
defaults = ['--tests-pattern', '^f?tests$', '-v']
