[buildout]
parts = doc py

[py]
recipe = zc.recipe.egg
interpreter = py
extra-paths=src
eggs = distribute
       sphinx
       docutils

[doc]
recipe = zc.recipe.egg
extra-paths=src
eggs = distribute
       sphinx
       docutils
