[buildout]
prefer-final = true

develop = .

parts = test checker
        coverage-test coverage-report
        console

versions = versions

[versions]
zope.testing = 3.5.1

[test]
recipe = zc.recipe.testrunner
eggs = OCQL [test]

[checker]
recipe = lovely.recipe:importchecker
path = src/ocql

[coverage-test]
recipe = zc.recipe.testrunner
eggs = OCQL [test]
defaults = ['--coverage', '../../coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', 'coverage/report')

[console]
recipe = z3c.recipe.dev:script
eggs = OCQL [test]
module = ocql.console
method = console
