[buildout]
parts = var app

[app]
recipe = z3c.recipe.dev:app
eggs = zam.skin
       zam.api
       zamplugin.control
       zamplugin.error
       zamplugin.navigation
       zamplugin.sampledata
       zamplugin.sitemanager
       z3c.xmlhttp
       z3c.jsonrpcproxy
server = zserver
zope.conf =
  ${var:zconfig}

  <server>
    type WSGI-HTTP
    address 8080
  </server>

  <eventlog>
    <logfile>
      formatter zope.exceptions.log.Formatter
      path ${buildout:directory}/parts/error.log
    </logfile>
    <logfile>
      formatter zope.exceptions.log.Formatter
      path STDOUT
    </logfile>
  </eventlog>

  <accesslog>
    <logfile>
      path ${buildout:directory}/parts/access.log
    </logfile>
    <logfile>
      path STDOUT
    </logfile>
  </accesslog>

site.zcml =
  <configure
      xmlns:meta="http://namespaces.zope.org/meta"
      xmlns:browser="http://namespaces.zope.org/browser"
      i18n_domain="zope">

  <!-- use app configuration from zam.api -->
  <include package="zam.skin" file="app.zcml" />

  <!-- include z3c meta configuration -->
  <include package="z3c.jsonrpc" file="meta.zcml" />

  <!-- include z3c configuration -->
  <include package="z3c.json" />
  <include package="z3c.jsonrpc" />
  <include package="z3c.jsontree" />

  <!-- zam skin configuration -->
  <include package="zamplugin.control" />
  <include package="zamplugin.error" />
  <include package="zamplugin.navigation" />
  <include package="zamplugin.sampledata" />
  <include package="zamplugin.sitemanager" />

  <!-- load other zcml files -->
  <include file="securitypolicy.zcml" />
  <include file="principals.zcml" />

  </configure>

principals.zcml =
  <unauthenticatedPrincipal
      id="lovelybooks.anybody"
      title="Unauthenticated User"
      />

  <unauthenticatedGroup
      id="zope.Anybody"
      title="Unauthenticated Users"
      />

  <authenticatedGroup
      id="zope.Authenticated"
      title="Authenticated Users"
      />

  <everybodyGroup
      id="zope.Everybody"
      title="All Users"
      />

  <principal
      id="zope.manager"
      title="Manager"
      login="Manager"
      password="password"
      />

  <grant
      role="zope.Manager"
      principal="zope.manager"
      />

securitypolicy.zcml =
  <include package="zope.securitypolicy" />

  <securityPolicy
      component="zope.securitypolicy.zopepolicy.ZopeSecurityPolicy" />

  <role id="zope.Anonymous" title="Everybody"
                 description="All users have this role implicitly" />
  <role id="zope.Manager" title="Site Manager" />
  <role id="zope.Member" title="Site Member" />

  <!-- Replace the following directive if you don not want public access -->
  <grant
      permission="zope.View"
      role="zope.Anonymous"
      />
  <grant
      permission="zope.dublincore.view"
      role="zope.Anonymous"
      />

  <grantAll role="zope.Manager" />


[var]
recipe = zc.recipe.filestorage
