@import url("pygments-default.css");

body {
    margin: 0;
    padding: 0;
    background-color: white;
    font-family: Georgia,Palatino,Times,serif;
    line-height: 120%;
    text-align: center;
    background: #f1f1f1;
}
  
img {
    border: 0px;
}

h1.title {
    font-family:"Lucida Grande", "Bitstream Vera Sans", Verdana, sans-serif;
    margin-top: 1.5em;
    color: #7C490C;
    border-bottom: 1px solid #FAC079;
    padding-bottom: 0.2em;
    font-size: 150%;
    clear: both;
}

h2 {
    font-family:"Lucida Grande", "Bitstream Vera Sans", Verdana, sans-serif;
    margin-top: 1.5em;
    color: #7C490C;
    border-bottom: 1px dotted #FAC079;
    padding-bottom: 0.2em;
    font-size: 130%;
    clear: both;
}

h3 {
    font-family:"Lucida Grande", "Bitstream Vera Sans", Verdana, sans-serif;
    margin-top: 1em;
    color: #7C490C;
    font-size: 120%;
    clear: both;
}


pre {
    background: #FFFCF8;
    border-top: 1px solid #FAC079;
    border-bottom: 1px solid #FAC079;
    padding: 0.5em;
    color: #7C490C;
    margin-bottom: 1em;
}

ul {
    line-height: 180%;
}

table {
    border-collapse: collapse;
    border: 0;
}

blockquote {
    line-height: 150%;
    font-size: 90%;
    background: #f9f9f9;
    color: #707070;
    padding: 1em;
    margin: 0 1em 0 1em;
    font-style: italic;
    border: 1px solid #a0a0a0;
}

.header {
    background: white;
    margin: 0;
    padding: 1em 0em 0em 0em;
}

.footer {
    background: white;
    font-family:"Lucida Grande", "Bitstream Vera Sans", Verdana, sans-serif;
    font-size: 80%;
    color: #707070;
    padding: 1em;
    margin: 1em 0 0 0;
    text-align: center;
}

.footer table {
    margin-left: auto;
    margin-right: auto;
}

.footer td {
    color: #707070;
    vertical-align: top;
    text-align: center;
    padding: 1em;
    font-size: 80%;
}
.footer a {
    text-decoration: none;
}

/* Navigation */

#navigation {
    background-color: #333333;
    padding: 0em 0em 0em 2em;
    margin: 0;
    white-space: nowrap;
    list-style: none;
    height: auto;
}

#navigation li {
    display: inline;
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-position: inside;

}

#navigation li a {
    color: white;
    text-decoration: none;
    padding: 0 1em 0 1em;
    margin: 0;
}

#navigation li a.selected {
    background: #c0c0c0;
    color: black;
}

#navigation li a:hover {
    text-decoration: underline;
}

/* ME GROK ROUND 2.0 */
.content {
  margin: 0 2em;
  text-align: left;
  background: white;
  clear: both;
}

.roundcont {
	width: 80%;
	margin: 1em auto;
    text-align: left;
    background: white;
}


.roundtop { 
	background: url(../resources/corner-topright.jpg) no-repeat top right; 
}

.roundbottom {
	background: url(../resources/corner-bottomright.jpg) no-repeat top right; 
}

img.corner {
   width: 45px;
   height: 45px;
   border: none;
   display: block !important;
}

/* Grok ReST Styles */
img.right {
    float:right;
}

div.sidebar {
  margin-left: 2em;
  padding: 1em 1em 1em 2em;
  border-left: 1px solid #f1f1f1;
  font-family:"Lucida Grande", "Bitstream Vera Sans", Verdana, sans-serif;
  color: #707070;
  font-size: 80%;
  background-color: #ffffff;
  width: 40%;
  float: right;
  clear: right;
}

p.sidebar-title {
  font-family: sans-serif ;
  font-weight: bold ;
  font-size: larger;
  color: #7C490C;
}

div.sidebar p.rubric {
  font-family: sans-serif;
  font-size: medium;
}

blockquote a {
    color: #707070;
}

.topic-title {
    font-family:"Lucida Grande", "Bitstream Vera Sans", Verdana, sans-serif;
    color: #7C490C;
    font-weight: bold;
}

.toc-backref {
    color: #7C490C;
    text-decoration: none;
}

.literal-block {
    overflow: auto;
}

ul.simple {
    font-size: 90%;
    color: #707070;
    font-family:"Lucida Grande", "Bitstream Vera Sans", Verdana, sans-serif;
}

/* style the contents listing as it was */
div.contents ul.simple a.reference {
    color: #707070;
    text-decoration: none;
}

div.contents ul.simple a.reference:hover {
    border-bottom: 1px dotted #FAC079;
}
