[buildout]
develop = . 
    z3c.authentication 
    z3c.resource 
    zc.selenium
parts = 
    app 
    test
extends = http://grok.zope.org/releaseinfo/grok-0.11.1.cfg
versions = versions

[versions]
martian = 0.9.2

[app]
recipe = zc.recipe.egg
eggs = 
    tfws.website
    Paste
    PasteScript
    PasteDeploy
    z3c.authentication
    z3c.resource
    zc.selenium

[test]
recipe = zc.recipe.testrunner
eggs = 
    tfws.website
    z3c.authentication
    z3c.resource
    zc.selenium
defaults = ['--tests-pattern', '^f?tests$',
	'-v'
	]

[eggdeps]
recipe = zc.recipe.egg
eggs = gtkeggdeps
       tfws.website [app, test]
