[buildout]
develop = . z3c.authentication z3c.resource zc.selenium
parts = app test
find-links = http://download.zope.org/distribution/
newest = false

[app]
recipe = zc.recipe.egg
eggs = tfws.website
       Paste
       PasteScript
       PasteDeploy
       z3c.authentication
       z3c.resource
       zc.selenium

[test]
recipe = zc.recipe.testrunner
eggs = tfws.website
       z3c.authentication
       z3c.resource
defaults = ['--tests-pattern', '^f?tests$', '-v']

