[buildout]
develop =  
    .
    grok
    z3c.authentication 
    z3c.resource 
    zc.selenium
    mars.adapter
    mars.contentprovider
    mars.form
#    mars.formdemo
    mars.layer
    mars.macro
    mars.resource
    mars.template
    mars.view
    mars.viewlet
parts = 
    app 
    test
extends = http://download.zope.org/zope3.4/versions-3.4.0c1.cfg
versions = versions

[versions]
grok = 0.12dev
martian = 0.9.3

[app]
recipe = zc.recipe.egg
eggs = 
    tfws.website
    mars.adapter
    mars.contentprovider
    mars.form
#    mars.formdemo
    mars.layer
    mars.macro
    mars.resource
    mars.template
    mars.view
    mars.viewlet
    Paste
    PasteScript
    PasteDeploy
    z3c.authentication
    z3c.resource
    zc.selenium

[test]
recipe = zc.recipe.testrunner
eggs = 
    grok
    martian
    tfws.website
    mars.adapter
    mars.contentprovider
    mars.form
#    mars.formdemo
    mars.layer
    mars.macro
    mars.resource
    mars.template
    mars.view
    mars.viewlet
    z3c.authentication
    z3c.resource
    zc.selenium
defaults = ['--tests-pattern', '^f?tests$',
	'-v'
	]

[eggdeps]
recipe = zc.recipe.egg
eggs = gtkeggdeps
       tfws.website [app, test]
