[buildout]
develop = .
parts = sources test
extends = versions.cfg
versions = versions
newest = false

[sources]
recipe=infrae.subversion
repository=svn://svn.zope.org/repos/main/megrok.z3cform.base megrok.z3cform.base
as_eggs=True

[test]
recipe = zc.recipe.testrunner
eggs = megrok.z3cform.layout
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c']
