[buildout]
develop = .
parts = interpreter test
extends = http://grok.zope.org/releaseinfo/grok-1.1a1.cfg
versions = versions

[versions]
grokcore.formlib = 1.5
grokcore.view = 1.13.1

[interpreter]
recipe = zc.recipe.egg
eggs = megrok.layout
interpreter = python

[test]
recipe = zc.recipe.testrunner
eggs = megrok.layout
defaults = ['--tests-pattern', '^f?tests$', '-v', '-c', '--package=megrok.layout']

