[buildout]
extends = http://svn.zope.org/repos/main/groktoolkit/trunk/grok.cfg
develop = .
parts = test
extensions = buildout.dumppickedversions
versions = versions

[versions]

[test]
recipe = zc.recipe.testrunner
eggs = megrok.login [test,]
defaults = ['--tests-pattern', '^test_.*$', '-v']
