[buildout]
develop = .     
parts = test

[test]
recipe = zc.recipe.testrunner
environment = test-environment
eggs =
   z3c.pt [lxml]

[test-environment]
PREFER_Z3C_PT = True
CHAMELEON_DEBUG = True
CHAMELEON_CACHE = False
