<configure
    xmlns:zope="http://namespaces.zope.org/zope"
    xmlns="http://namespaces.zope.org/browser"
    i18n_domain="tiks">

  <!-- This is only a sample configure.zcml file
       See README.txt in zope.app.skintools for more 
       information about the skintools concept.
       -->

  <!-- pagelet defining the box data -->
    <pagelet
        for="*"
        slot="the slot used in your skin" 
        name="toggle"
        permission="zope.Public"
        template="javascript.pt"
        layer="the layer of your skin"
        />

  <!-- register this resource on your skin layer -->
    <resource 
        name="toggle.js"
        file="toggle.js"
        layer="the layer of your skin"
        />
   
    <resource 
        name="collapse.gif"
        file="img/collapse.gif"
        layer="the layer of your skin"
        />
  
    <resource 
        name="expand.gif"
        file="img/expand.gif"
        layer="the layer of your skin"
        />

</configure>