[buildout]
develop = z3c.form
          z3c.table
          z3c.recipe.sphinxdoc
parts = docs
index = http://download.zope.org/zope3.4
find-links = http://pypi.python.org/pypi/Sphinx

[docs]
recipe = z3c.recipe.sphinxdoc
eggs = z3c.form [docs]
       z3c.table [docs]
src-dir = z3c/form/
