[buildout]
extends = http://download.zope.org/zope3.4/3.4.0/versions.cfg
develop = z3c.form
          z3c.table
          z3c.formjs
          z3c.boiler
          z3c.builder.core
          z3c.feature.core
          z3c.feature.zope
parts = docs
versions = versions

[docs]
recipe = z3c.recipe.sphinxdoc
eggs = z3c.recipe.sphinxdoc
       z3c.form [docs]
       z3c.formjs [docs]
       z3c.table [docs]
       z3c.boiler [docs]
       z3c.builder.core 
       z3c.feature.core
       z3c.feature.zope
default.css=
layout.html=

[versions]
z3c.form =
z3c.table =
z3c.formjs =
