/* Zope3 skin style sheet for CSS2-capable browsers.
*/


/* HTML elements
*/

body {
    font: 85% Helvetica, Arial, sans-serif;
    background: White;
    color: Black;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #369;
    background-color: transparent;
}

a:active {
    text-decoration: underline;
}

p {
    margin: 0.5em 0em 1em 0em;
    line-height: 1.5em;
}


/* Form elements
*/


/* List elements
*/
