[buildout]
develop = .
parts = py zodb

[test]
eggs = zc.s3blobhack
       zope.testing

[py]
recipe = zc.recipe.egg
eggs = ${test:eggs}
interpreter = py

[zodb]
recipe = zc.recipe.egg
eggs = ZODB3
       zc.s3blobhack
s =
initialization =
   ${:s}import os
   ${:s}if 'AWS_SECRET_ACCESS_KEY' in os.environ:
   ${:s}    import zc.s3blobhack
   ${:s}    zc.s3blobhack.patch()
