[buildout]
develop = .
parts = test
extends = http://grok.zope.org/releaseinfo/grok-1.1.1.cfg
allow-picked-versions = false
versions = versions

[versions]
hurry.resource = 0.4.1
hurry.zoperesource = 0.5
lxml = 2.2.6
z3c.objpath = 1.0
z3c.relationfield = 0.6.1
z3c.schema2xml = 1.0
zc.relation = 1.0

[test]
recipe = zc.recipe.testrunner
eggs = z3c.relationfieldui
defaults = ['--tests-pattern', '^f?tests$', '-v']
