[buildout]
extensions = mr.developer
auto-checkout = zope.configmachine
develop = .
parts = test python

[sources]
zope.configmachine = svn svn+ssh://svn.zope.org/repos/main/zope.configmachine/trunk

[test]
recipe = zc.recipe.testrunner
eggs = zope.configuration [test]

[python]
recipe = zc.recipe.egg
eggs = zope.configuration
interpreter = python
