# Load the ZCML slugs for installation into a software or instance
# home.

<load>

securitypolicy-configure.zcml svn://svn.zope.org/Zope3/trunk/package-includes/securitypolicy-configure.zcml

securitypolicy-meta.zcml      svn://svn.zope.org/Zope3/trunk/package-includes/securitypolicy-meta.zcml

</load>
