[buildout]
develop = .
parts =
    test
    zopepy
    docs

unzip = true


[test]
recipe = zc.recipe.testrunner
eggs = Products.RecentItemsIndex


[zopepy]
recipe = zc.recipe.egg
eggs =
    Zope2
    Products.RecentItemsIndex
interpreter = zopepy
scripts = zopepy


[docs]
recipe = zc.recipe.egg
eggs = Sphinx
