html {
  background-color: darkgrey;
}

body {
  background-color: #eee;
}

h1 {
  font-size: 138.5%;
}

h2 {
  font-size: 123.1%;
}

h3 {
  font-size: 108%;
}

h1,h2,h3 {
  margin: 1em 0;
}

h1,h2,h3,strong {
  font-weight: bold;
}

#hd {
  background: url('http://grok.zope.org/top_bg.jpg');
  position: relative;
}

#bd {
  margin-left: .5em;
}

p {
  margin-bottom: 1em;
}

#hd,#ft {
  text-align: center;
  margin: .5em 0;
}

#appname {
  font-size: 197%;
  font-weight: bold;
}

#menu li {
  display: inline;
  line-height: 250%;
  margin: 0 .25em;
}

#menu li, #ft li {
  display: inline;
}

#menu li a, #ft li a {
  text-decoration: none;
}

#menu li a:hover, #ft li a:hover {
  text-decoration: underline;
}

#menu li {
  font-size: 116%;
}

#blogtitle {
  margin-bottom: 1em;
  text-align: center;
}

#blogtitle p {
  margin-bottom: 0;
}

#blogtitle h1,h2 {
  margin: 0 0;
}

#blogtitle h2 {
  font-weight: normal;
  font-size: 108%;
}

#search {
  position: absolute;
  bottom: 1em;
  right: 2em;
}

#ft {
  position: relative;
}

#ft li {
  margin: 0 .25em;
}

#external-links {
  position: absolute;
  right: 1em;
  bottom: 0;
}
