html {
  background-color: darkgrey;
}

body {
  background-color: #eee;
}

h1 {
  font-size: 138.5%;
}

h2 {
  font-size: 123.1%;
}

h3 {
  font-size: 108%;
}

h1,h2,h3,h4,strong {
  font-weight: bold;
}

#hd {
  background: url('http://grok.zope.org/top_bg.jpg');
}

#bd {
  margin-left: .5em;
}

p {
  margin-bottom: 1em;
}

#hd,#ft {
  text-align: center;
  margin: .5em 0;
}

#appname {
  font-size: 153.9%;
  font-weight: bold;
}

#menu li, #ft li {
  display: inline;
  line-height: 250%;
}

#menu li a, #ft li a {
  text-decoration: none;
}

#menu li a:hover, #ft li a:hover {
  text-decoration: underline;
}
