/* zrt-cssregistry: */

@media all {

  .z-page, .page {
    padding: 1.5em;
    border: borderWidth borderStyle globalBorderColor;
    border-top: borderWidth borderStyle globalBorderColor;
    background-color: globalBackgroundColor;
    font-size: 100%;
  }

  .z-page h1 {
    padding-top: 0;
  }

  .z-page h4 {
    border-bottom: borderWidth borderStyle globalBorderColor;
  }

  .z-page legend {
    background-color: transparent;
  }

  .z-page-description,
  .pageDescription {
    color: discreetColor;
    font-size: fontSmallSize;
    font-weight: normal;
    margin-bottom: 1.5em;
  }

  .z-frame, .z-topframe,
  .frame, .topframe {
    padding: 1em;
    margin-top: 1em;
    background: contentBackgroundColor;
    border: borderWidth borderStyle globalExtraBorderColor;
  }

  .z-topframe, .topframe {
    margin-top: 0em;
  }

  .z-frame h4 {
    border-bottom: borderWidth borderStyle globalExtraBorderColor;
    font-weight: normal;
  }

  #z-portal {
    background-color: contentBackgroundColor;
  }

  #z-portal-workspace {
    margin: 2em 1.5em 1.5em 1.5em;
  }

  #z-portal-workspace {
    font-size: 110%;
    background: contentBackgroundColor;
  }
  
  #z-portal-workspace h1 {
    font-size: 120%;
    font-weight: bold;
  }
  
  #z-portal-workspace h2 {
    font-size: 110%;
  }
  
  #z-portal-workspace h3 {
    font-size: 100%;
  }
  
  #z-portal-workspace h5,
  #z-portal-workspace h6 {
    color: discreetColor;
  }

  ul.z-listing {
    margin: 0.5em 0;
    list-style: none;
    list-style-image: none;
    list-style-type: none;
  }
  
  ul.z-listing li {
    clear: both;
    margin-bottom: 0.5em;
    list-style: none;
    list-style-image: none;
  }
  
  ul.z-listing li .z-listing-icon {
    float: left;
    padding-top: 8px;
    padding-right: 0.5em;
    height: 32px;
  }
  
  ul.z-listing li a,
  ul.z-listing li .z-listing-details a {
    color: linkColor;
    border: 0;
    border-bottom: 1px dotted discreetColor;
    text-decoration: none;
  }
  
  ul.z-listing li a:visited,
  ul.z-listing li .z-listing-details a:visited {
    color: linkColor;
    background-color: transparent;
  }
  
  ul.z-listing li a:active,
  ul.z-listing li .z-listing-details a:active {
    color: linkColor;
    background-color: transparent;
  }
  
  ul.z-listing li span {
    border: 0;
    border-bottom: 1px dotted discreetColor;
  }
  
  ul.z-listing li .z-listing-details span a {
    border-bottom: 0px;
  }
  
  ul.z-listing li label {
    font-weight: bold;
    border-bottom: borderWidth dotted discreetColor;
  }
  
  ul.z-listing li {
    border: 1px solid contentBackgroundColor;
  }
  
  ul.z-listing li .z-listing-details div {
    color: discreetColor;
    font-size: fontSmallSize;
  }
  
  ul.z-listing li ul.z-listing {
    margin-left: 1.5em;
    font-size: 110%;
  }
  
  ul.z-listing li .z-listing-details div span {
    color: discreetColor;
    font-size: fontSmallSize;
    border: 0;
  }

  .z-level1 {
    padding-left: 0.8em;
  }
  
  .z-level2 {
    padding-left: 1.6em;
  }
  
  .z-level3 {
    padding-left: 2.4em;
  }
  
  .z-level4 {
    padding-left: 3.2em;
  }
}

@media print {
  .z-page-description,
  .pageDescription {
    font-weight: normal;
  }
}
