[bluebream]
version = 1.0dev

included =
  zope.app.xmlrpcintrospection
  z3c.testsetup

# zope.app.session is available in the new zopeapp (trunk)
# This should be removed when updating version

  zope.app.session

packages = ${bluebream:included}

[buildout]
extends =
    http://svn.zope.org/*checkout*/zopetoolkit/trunk/zopeapp.cfg?rev=107993
    http://svn.zope.org/*checkout*/zopetoolkit/trunk/ztk.cfg?rev=107997

[versions]
zope.app.xmlrpcintrospection = 3.5.1
zope.app.session = 3.6.1
z3c.testsetup = 0.6.1

# Dependencies:

martian = 0.12

[sources]
zope.app.xmlrpcintrospection = svn svn+ssh://svn.zope.org/repos/main/zope.app.xmlrpcintrospection/trunk
zope.app.session = svn svn+ssh://svn.zope.org/repos/main/zope.app.session/trunk
