[bluebream]
version = 1.0dev

included =
  zope.app.xmlrpcintrospection
  z3c.testsetup

packages = ${bluebream:included}

[buildout]
extends =
    http://svn.zope.org/*checkout*/zopetoolkit/trunk/zopeapp.cfg?rev=108937
    http://svn.zope.org/*checkout*/zopetoolkit/trunk/ztk.cfg?rev=108937

[versions]
zope.app.xmlrpcintrospection = 3.5.1
z3c.testsetup = 0.6.1

# Dependencies:

martian = 0.12

[sources]
zope.app.xmlrpcintrospection = svn svn+ssh://svn.zope.org/repos/main/zope.app.xmlrpcintrospection/trunk
z3c.testsetup = svn svn+ssh://svn.zope.org/repos/main/z3c.testsetup/trunk
martian = svn svn+ssh://svn.zope.org/repos/main/martian/trunk
