[buildout]
eggs-directory = /mnt/a9/eggs
parts = test-ztk
        test-zopeapp
        test-bluebream
        test-community
        depgraph
        py
extensions = mr.developer
extends = bluebream.cfg
          community.cfg
versions = versions
allow-picked-versions = false
#auto-checkout = *

[versions]
tl.eggdeps = 0.4
z3c.recipe.compattest = 0.12.2
z3c.recipe.depgraph = 0.5
mr.developer = 1.10
PrettyTable = 0.5
elementtree = 1.2.6-20050316

[test-ztk]
recipe = z3c.recipe.compattest
include = ${ztk:packages}

[test-zopeapp]
recipe = z3c.recipe.compattest
include = ${zopeapp:packages}

[test-bluebream]
recipe = z3c.recipe.compattest
include = ${bluebream:packages}

[test-community]
recipe = z3c.recipe.compattest
include = ${community:packages}

[depgraph]
recipe = z3c.recipe.depgraph
eggs = ${ztk:packages}
       ${zopeapp:packages}
       ${community:packages}
extras = True
variants = base 
           scc

[py]
recipe = zc.recipe.egg
eggs = PrettyTable
interpreter = py
