# Copyright (c) 2009 Zope Foundation and Contributors.
#
# This is the specification file for the community supported packages
# These packages are not officially supported.

# IMPORTANT: Tests are failing for the commented packages.
# To uncomment, make sure tests are passing.

[community]
version = 1.0dev

included =
#  lovely.remotetask

  zc.table
#  zc.queue

packages = ${community:included}

[buildout]
versions = versions

[versions]
#lovely.remotetask = 0.5
zc.table = 0.8.0
#zc.queue = 1.1

[sources]
#lovely.remotetask = svn svn+ssh://svn.zope.org/repos/main/lovely.remotetask/trunk
zc.table = svn svn+ssh://svn.zope.org/repos/main/zc.table/trunk
#zc.queue = svn svn+ssh://svn.zope.org/repos/main/zc.queue/trunk
