# Copyright (c) 2009 Zope Foundation and Contributors.
#
# This is the specification file for the community supported packages
# These packages are not officially supported.

[community]
included =
  lovely.remotetask

# We need to verify whether these two packages belongs to zopeapp list
  zope.app.xmlrpcintrospection
  zope.app.session

  zc.table
  zc.queue

packages = ${community:included}

[buildout]
versions = versions

[versions]
lovely.remotetask = 0.5
zope.app.xmlrpcintrospection = 3.5.0
zope.app.session = 3.6.0
zc.table = 0.8.0
zc.queue = 1.1

[sources]
lovely.remotetask = svn svn+ssh://svn.zope.org/repos/main/lovely.remotetask/trunk
zope.app.xmlrpcintrospection = svn svn+ssh://svn.zope.org/repos/main/zope.app.xmlrpcintrospection/trunk
zope.app.session = svn svn+ssh://svn.zope.org/repos/main/zope.app.session/trunk
zc.table = svn svn+ssh://svn.zope.org/repos/main/zc.table/trunk
zc.queue = svn svn+ssh://svn.zope.org/repos/main/zc.queue/trunk
