[buildout]
develop = .
parts = test test-kgs

[test]
recipe = zc.recipe.testrunner
eggs = z3c.recipe.kgs

[test-kgs]
recipe = z3c.recipe.kgs
kgs = http://svn.zope.org/*checkout*/zope.release/trunk/releases/controlled-packages.cfg
max_jobs = 1
packages = zope.interface
           zope.component
           zope.interface
           zope.event
           zope.configuration
