[buildout]
develop = .
parts = zodb test

[test]
recipe = zc.recipe.testrunner
eggs = zc.recipe.zeo
       ZODB3
defaults = ['-s', 'zc.recipe.zeo']

# Make sure we have a ZODB handy
[zodb]
recipe = zc.recipe.egg
eggs = ZODB3
scripts =
