[buildout]
newest = false
parts = sphinx
        makesite
extends = versions.cfg

[sphinx]
recipe = zc.recipe.egg
eggs = Sphinx
       z3c.checkversions[buildout]

[makesite]
recipe = collective.recipe.template
input = ${buildout:directory}/templates/makesite_sh.in
output = ${buildout:bin-directory}/makesite.sh
