[buildout]
develop = .
parts = zope test
index = http://download.zope.org/zope3.4/

[zope3]
location = .

[z3cform-app]
recipe = zc.zope3recipes:app
site.zcml = <include package="talk.z3cform" file="app.zcml" />
eggs = talk.z3cform [app]

[zope]
recipe = zc.zope3recipes:instance
application = z3cform-app
zope.conf = ${database:zconfig}

[database]
recipe = zc.recipe.filestorage

[test]
recipe = zc.recipe.testrunner
eggs = talk.z3cform [app, test]
