[buildout]
parts =
    test-ztk
    test-zopeapp
    depgraph
    checkversions

extensions = mr.developer
#             buildout.dumppickedversions
allow-picked-versions = false

extends =
    ztk.cfg
    zopeapp.cfg
    ztk-versions.cfg
    zopeapp-versions.cfg
    extra-versions.cfg

versions = versions

[test-ztk]
recipe = z3c.recipe.compattest
include = ${ztk:packages}

[test-zopeapp]
recipe = z3c.recipe.compattest
include = ${zopeapp:packages}

[depgraph]
recipe = z3c.recipe.depgraph
eggs = ${ztk:packages}
       ${zopeapp:packages}
extras = True
variants = base 
           scc

[checkversions]
recipe = zc.recipe.egg
eggs = z3c.checkversions [buildout]
