# Copyright (c) 2010 Zope Foundation and Contributors.
#
# This is the specification file for the extra (or community) packages as defined
# in http://docs.zope.org/zopetoolkit/
# These packages are not officially supported.
# This list allows community packages to be tested with the same infrastructure
# as the ZTK, and to elect some of them to be included in the core.

[buildout]
parts =
    test-extra
    depgraph
    checkversions

extensions = mr.developer
#             buildout.dumppickedversions
allow-picked-versions = false

extends =
    versions.cfg

versions = versions

[test-extra]
recipe = z3c.recipe.compattest
include = ${extra:packages}

[depgraph]
recipe = z3c.recipe.depgraph
eggs = ${extra:packages}
extras = True
variants = base 
           scc

[checkversions]
recipe = zc.recipe.egg
eggs = z3c.checkversions [buildout]

[extra]

# the list of extra packages
included =
    z3c.form
    z3c.formui
    lovely.remotetask
    zc.table
    zc.queue

# the list of candidates for inclusion in the ZTK core
candidates =
    zope.modulealias
    zope.xmlpickle
    zope.file
    zope.html
    zope.mimetype
    zope.testbrowser


packages = ${extra:included}
           ${extra:candidates}


[sources]
lovely.remotetask = svn svn+ssh://svn.zope.org/repos/main/lovely.remotetask/trunk
z3c.form = svn svn+ssh://svn.zope.org/repos/main/z3c.form/trunk
z3c.formui = svn svn+ssh://svn.zope.org/repos/main/z3c.formui/trunk
zc.table = svn svn+ssh://svn.zope.org/repos/main/zc.table/trunk
zc.queue = svn svn+ssh://svn.zope.org/repos/main/zc.queue/trunk
zope.modulealias = svn svn+ssh://svn.zope.org/repos/main/zope.modulealias/trunk
zope.xmlpickle = svn svn+ssh://svn.zope.org/repos/main/zope.xmlpickle/trunk
zope.file = svn svn+ssh://svn.zope.org/repos/main/zope.file/trunk
zope.html = svn svn+ssh://svn.zope.org/repos/main/zope.html/trunk
zope.mimetype = svn svn+ssh://svn.zope.org/repos/main/zope.mimetype/trunk
zope.testbrowser = svn svn+ssh://svn.zope.org/repos/main/zope.testbrowser/branches/3.8
