[versions]
# ZTK
zope.annotation = 3.5.0
zope.applicationcontrol = 3.5.5
zope.authentication = 3.7.0
zope.broken = 3.6.0
zope.browser = 1.3
zope.browsermenu = 3.9.1
zope.browserpage = 3.12.2
zope.browserresource = 3.10.3
zope.cachedescriptors = 3.5.0
zope.catalog = 3.8.1
zope.component = 3.9.4
zope.componentvocabulary = 1.0
zope.configuration = 3.7.2
zope.container = 3.11.1
zope.contentprovider = 3.7.2
zope.contenttype = 3.5.1
zope.copy = 3.5.0
zope.copypastemove = 3.6.0
zope.datetime = 3.4.0
zope.deferredimport = 3.5.2
zope.deprecation = 3.4.0
zope.documenttemplate = 3.4.2
zope.dottedname = 3.4.6
zope.dublincore = 3.6.0
zope.error = 3.7.0
zope.event = 3.4.1
zope.exceptions = 3.6.0
zope.file = 0.5.0
zope.filerepresentation = 3.6.0
zope.formlib = 4.0.3
zope.hookable = 3.4.1
zope.html = 2.0.0
zope.i18n = 3.7.3
zope.i18nmessageid = 3.5.2
zope.index = 3.6.0
zope.interface = 3.6.1
zope.intid = 3.7.2
zope.keyreference = 3.6.2
zope.lifecycleevent = 3.6.1
zope.location = 3.9.0
zope.login = 1.0.0
zope.mimetype = 1.2.0
zope.minmax = 1.1.2
zope.pagetemplate = 3.5.1
zope.password = 3.6.1
zope.pluggableauth = 1.0.1
zope.principalannotation = 3.6.1
zope.principalregistry = 3.7.0
zope.processlifetime = 1.0
zope.proxy = 3.6.0
zope.ptresource = 3.9.0
zope.publisher = 3.12.3
zope.ramcache = 1.0
zope.schema = 3.6.3
zope.security = 3.7.3
zope.securitypolicy = 3.6.1
zope.sendmail = 3.7.2
zope.sequencesort = 3.4.0
zope.server = 3.6.1
zope.session = 3.9.2
zope.site = 3.9.1
zope.size = 3.4.1
zope.structuredtext = 3.5.0
zope.tal = 3.5.2
zope.tales = 3.5.1
zope.testbrowser = 3.9.0
zope.testing = 3.9.4
zope.traversing = 3.12.1
zope.viewlet = 3.7.2

# ZOPEAPP
zope.app.apidoc = 3.7.2
zope.app.applicationcontrol = 3.5.5
zope.app.appsetup = 3.14.0
zope.app.authentication = 3.7.1
zope.app.basicskin = 3.5.0
zope.app.broken = 3.5.0
zope.app.cache = 3.7.0
zope.app.catalog = 3.8.1
zope.app.component = 3.8.4
zope.app.container = 3.8.2
zope.app.content = 3.4.0
zope.app.dav = 3.5.3
zope.app.debug = 3.4.1
zope.app.dependable = 3.5.1
zope.app.error = 3.5.2
zope.app.exception = 3.6.1
zope.app.file = 3.5.1
zope.app.folder = 3.5.1
zope.app.form = 4.0.2
zope.app.ftp = 3.5.0
zope.app.generations = 3.5.1
zope.app.http = 3.8.0
zope.app.i18n = 3.6.2
zope.app.interface = 3.5.0
zope.app.interpreter = 3.4.0
zope.app.intid = 3.7.1
zope.app.keyreference = 3.6.1
zope.app.locales = 3.6.1
zope.app.localpermission = 3.7.2
zope.app.locking = 3.5.0
zope.app.onlinehelp = 3.5.2
zope.app.pagetemplate = 3.11.0
zope.app.preference = 3.6.0
zope.app.preview = 3.4.0
zope.app.principalannotation = 3.7.0
zope.app.publication = 3.11.1
zope.app.publisher = 3.10.1
zope.app.renderer = 3.5.1
zope.app.rotterdam = 3.5.1
zope.app.schema = 3.5.0
zope.app.security = 3.7.5
zope.app.securitypolicy = 3.5.2
zope.app.server = 3.5.0
zope.app.session = 3.6.1
zope.app.skins = 3.4.0
zope.app.testing = 3.7.4
zope.app.tree = 3.6.0
zope.app.twisted = 3.5.0
zope.app.undo = 3.5.0
zope.app.wsgi = 3.9.2
zope.app.zcmlfiles = 3.7.0
zope.app.zopeappgenerations = 3.5.0
zope.app.zptpage = 3.5.1

#EXTRA versions
Chameleon = 1.2.3
Jinja2 = 2.4.1
Pygments = 1.3.1
RestrictedPython = 3.5.1
Sphinx = 0.6.5
ZConfig = 2.8.0
ZODB3 = 3.9.5
argparse = 1.1
distribute = 0.6.10
docutils = 0.6
lovely.remotetask = 0.5.2
lxml = 2.2.4
mechanize = 0.2.1
mr.developer = 1.14
py = 1.0.0
python-gettext = 1.0
pytz = 2010h
roman = 1.4.0
setuptools = 0.6c11
tl.eggdeps = 0.4
transaction = 1.0.1
wsgi-intercept = 0.4
z3c.checkversions = 0.2
z3c.coverage = 1.2.0
z3c.form = 2.3.4
z3c.formui = 2.2.0
z3c.macro = 1.2.1
z3c.pt = 1.2.1
z3c.ptcompat = 0.5.6
z3c.recipe.compattest = 0.12.2
z3c.recipe.depgraph = 0.5
z3c.recipe.sphinxdoc = 0.0.8
z3c.template = 1.2.1
zc.buildout = 1.4.3
zc.lockfile = 1.0.0
zc.queue = 1.1
zc.recipe.egg = 1.2.2
zc.recipe.testrunner = 1.2.0
zc.resourcelibrary = 1.3.1
zc.sourcefactory = 0.6.0
zc.table = 0.8.1
zdaemon = 2.0.4
zodbcode = 3.4.0
zope.app.debugskin = 3.4.0
zope.app.xmlrpcintrospection = 3.5.1
zope.kgs = 1.2.0
zope.mkzeoinstance = 3.9.4
zope.modulealias = 3.4.0
zope.rdb = 3.5.0
zope.thread = 3.4
zope.xmlpickle = 3.4.0

