[buildout]
parts = 
    test
    zopepy
    data

extends = sources.cfg versions.cfg
extensions = mr.developer
versions = versions
develop = 
eggs = 


[versions]
grokcore.view = 1.9


[data]
recipe = zc.recipe.filestorage


[test]
recipe = zc.recipe.testrunner
eggs = 
    grok                
    grokcore.annotation 
    grokcore.component  
    grokcore.formlib    
    grokcore.security   
    grokcore.site       
    grokcore.startup    
    grokcore.view       
    grokcore.viewlet    
    grokui.admin        
#    grokui.introspector 
#    grokui.quickstart   
    martian             

defaults = ['-v', '--exit-with-status', '--auto-color', '--auto-progress']


[zopepy]
recipe = zc.recipe.egg
eggs = ${test:eggs} 
       tha.coverage
interpreter = zopepy
