[buildout]
parts = 
    test
    zopepy
    data

extends = sources.cfg versions.cfg
extensions = mr.developer
versions = versions
develop = 
    src/*
eggs = 


[versions]
grokcore.view = 1.8
zope.testing = 3.7.6
z3c.testsetup = 0.4
zope.container = 3.8.1


[data]
recipe = zc.recipe.filestorage


[test]
recipe = zc.recipe.testrunner
eggs = 
    grok
    grokcore.component
    grokcore.view
    grokcore.security
    grokcore.viewlet
    grokcore.formlib
    martian
defaults = ['-v', '--exit-with-status', '--auto-color', '--auto-progress']


[zopepy]
recipe = zc.recipe.egg
eggs = ${test:eggs} 
       tha.coverage
interpreter = zopepy
