[buildout]
allow-hosts = pypi.python.org
develop = .
parts =
    test
    scripts
    test_transaction

extensions = mr.developer
sources = sources
sources-dir = devel
auto-checkout = transaction

[sources]
transaction = svn http://svn.zope.org/repos/main/transaction/branches/elro-savepoint-release

[test_transaction]
recipe = zc.recipe.testrunner
eggs = transaction

[test]
recipe = zc.recipe.testrunner
eggs = zope.sqlalchemy [test]

[scripts]
recipe = zc.recipe.egg
eggs = ${test:eggs}
interpreter = py
