# parts/postgresql/bin/postgres -D var/postgresql/ -d 1
[buildout]
extends = buildout.cfg
find-links = http://initd.org/pub/software/psycopg/
allow-hosts += initd.org

parts +=
    postgresql
    postgresqlinit
    psycopg2
    test_pg
    scripts

[test_pg]
recipe = zc.recipe.testrunner
eggs =
    zope.sqlalchemy [test]
    psycopg2
environment = testenv

[scripts]
eggs = ${test:eggs}

[testenv]
TEST_DSN = postgres://zope_sqlalchemy_tests:zope_sqlalchemy_tests@localhost:24004/zope_sqlalchemy_tests

[postgresql]
recipe = zc.recipe.cmmi
url = ftp://ftp.postgresql.org/pub/source/v8.4.2/postgresql-8.4.2.tar.bz2
md5sum = d738227e2f1f742d2f2d4ab56496c5c6
extra_options =
    --with-pgport=24004
    --with-readline

[postgresqlinit]
recipe = iw.recipe.cmd
on_install = true
on_update = true
datadir = ${buildout:directory}/var/postgresql
cmds =
    test -e ${buildout:directory}/bin/psql || \
        ln -s ${postgresql:location}/bin/psql ${buildout:directory}/bin/psql
    test -e ${postgresqlinit:datadir} && exit 0
    ${postgresql:location}/bin/initdb ${postgresqlinit:datadir}
    ${postgresql:location}/bin/postgres --single -D ${postgresqlinit:datadir} \
            template1 << EOF
        CREATE USER zope_sqlalchemy_tests WITH PASSWORD 'zope_sqlalchemy_tests';
        CREATE DATABASE zope_sqlalchemy_tests OWNER zope_sqlalchemy_tests;
    EOF
    echo 'host all zope_sqlalchemy_tests 0.0.0.0/0 md5' \
        >> ${postgresqlinit:datadir}/pg_hba.conf
    echo "listen_addresses = '*'" >> ${postgresqlinit:datadir}/postgresql.conf

[psycopg2]
recipe = zc.recipe.egg:custom
environment = psycopg2-env
rpath = ${postgresql:location}/lib

[psycopg2-env]
# This is needed to help psycopg2 find the pg_config script
PATH=${postgresql:location}/bin:%(PATH)s
