[buildout]
develop = .
parts = demo test

[test]
recipe = zc.recipe.testrunner
eggs = mars.formdemo [app, test]

[zope3]
location = .

[form-demo-app]
recipe = zc.zope3recipes:app
site.zcml = <include package="mars.formdemo" file="application.zcml" />
eggs = mars.formdemo [app]

[demo]
recipe = zc.zope3recipes:instance
application = form-demo-app
zope.conf = ${database:zconfig}

[database]
recipe = zc.recipe.filestorage
