[buildout]
develop = .
parts = demo test
extends = http://download.zope.org/zope3.4/versions-3.4.0c1.cfg
versions = versions

[versions]
grok = 0.12dev
martian = 0.9.3

[test]
recipe = zc.recipe.testrunner
eggs = mars.formdemo [app, test]

[form-demo-app]
recipe = zc.zope3recipes:app
site.zcml = <include package="mars.formdemo" file="application.zcml" />
eggs = mars.formdemo [app]

[demo]
recipe = zc.zope3recipes:instance
application = form-demo-app
zope.conf = ${database:zconfig}

[database]
recipe = zc.recipe.filestorage
