[buildout]
develop = . mars.layer mars.template mars.macro mars.view mars.contentprovider mars.viewlet mars.resource mars.adapter
parts = demo test

[test]
recipe = zc.recipe.testrunner
eggs = mars.formdemo [app, test]
       mars.layer
       mars.template
       mars.macro
       mars.view
       mars.viewlet
       mars.contentprovider
       mars.resource
       mars.adapter

[zope3]
location = .

[form-demo-app]
recipe = zc.zope3recipes:app
site.zcml = <include package="mars.formdemo" file="application.zcml" />
eggs = mars.formdemo [app]
       mars.layer
       mars.template
       mars.macro
       mars.view
       mars.viewlet
       mars.contentprovider
       mars.resource
       mars.adapter

[demo]
recipe = zc.zope3recipes:instance
application = form-demo-app
zope.conf = ${database:zconfig}

[database]
recipe = zc.recipe.filestorage
