[buildout]
extends = versions.cfg
develop = .
parts = python test coverage-test coverage-report
versions = versions

[python]
recipe = zc.recipe.egg
interpreter = python
eggs = megrok.ootbviewlets

[test]
recipe = zc.recipe.testrunner
eggs = megrok.ootbviewlets [test]
defaults = ['--tests-pattern', '^f?tests$', '-vc']

[coverage-test]
recipe = zc.recipe.testrunner
eggs = megrok.ootbviewlets [test]
defaults = ['--coverage', '${buildout:directory}/coverage']

[coverage-report]
recipe = zc.recipe.egg
eggs = z3c.coverage
scripts = coverage=coverage-report
arguments = ('coverage', '${buildout:directory}/coverage/report')

