[buildout]
develop =
    .
    develop/Acquisition
parts =
    test
    omelette
find-links = http://download.zope.org/distribution/
extends = versions-zope2.cfg
versions = versions
unzip = true
eggs =
    Zope2

[test]
recipe = zc.recipe.testrunner<1.1dev
eggs = ${buildout:eggs}
environment = test-environment

[test-environment]
SOFTWARE_HOME = ${buildout:directory}/src
ZOPE_HOME = ${buildout:directory}

[omelette]
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}

[lib_python]
recipe = z3c.recipe.runscript
install-script = bin/create_lib_python.py:create_lib_python
update-script = bin/create_lib_python.py:create_lib_python
