[buildout]
develop = .
parts =
    test
    omelette
find-links = http://download.zope.org/distribution/
unzip = true
extends = http://download.zope.org/zope3.4/versions-3.4.0c1.cfg
versions = versions
unzip = true
eggs =
    mechanize
    Zope2

[versions]
zope.testing = 3.4.0
setuptools = 0.6c8
zc.buildout =
zc.recipe.egg =

[test]
recipe = zc.recipe.testrunner<=1.0.9999
eggs = ${buildout:eggs}

[omelette]
recipe = collective.recipe.omelette
eggs = ${buildout:eggs}
