[buildout]
extends = versions-zope3.cfg
versions = versions

[versions]
setuptools =
zc.buildout =
zc.recipe.egg =

Acquisition = 2.12.0dev
DateTime = 2.11.1
ExtensionClass = 2.11.1
Persistence = 2.11.1
RestrictedPython = 3.4.3
tempstorage = 2.11.1
zLOG = 2.11.1
ZODB3 = 3.8.1

# Python 2.5 / 2.6 support
mechanize = 0.1.9
pytz = 2008i
zope.schema = 3.5.0a1
zope.security = 3.5.2
zope.testbrowser = 3.5.1
zope.app.testing = 3.5.6
zope.app.appsetup = 3.8.0

# Minimized dependencies
zope.formlib = 3.5.0dev
zope.sendmail = 3.5.1-dev
zope.traversing = 3.5.0a4
zope.app.form = 3.6.3

# New bugfix releases not yet in the Zope3 KGS
zope.component = 3.5.1
zope.exceptions = 3.5.2
zope.i18n = 3.6.0
zope.interface = 3.5.0
zope.publisher = 3.5.4
zope.app.component = 3.5.0
zope.app.container = 3.6.2
zope.app.publication = 3.5.0
zope.app.publisher = 3.5.1
