[buildout]
extends = versions-zope3.cfg
versions = versions

[versions]
setuptools =
zc.buildout =
zc.recipe.egg =

Acquisition = 2.12.0dev
DateTime = 2.11.1
ExtensionClass = 2.11.1
Persistence = 2.11.1
RestrictedPython = 3.4.2
tempstorage = 2.11.1
zLOG = 2.11.1
ZODB3 = 3.8.1

# Include for the "Fixed declaration of _zope_interface_coptimizations" fix
zope.interface = 3.5.0
