[buildout]
parts = test
develop = .
find-links = http://www.crummy.com/software/BeautifulSoup/download/2.x/
versions = versions

[versions]
BeautifulSoup = 2.1.1

[test]
recipe = zc.recipe.testrunner
eggs = zc.index [test]